[2015-12-29 19:46] marcustisater opened #1 "Milestones"
We need to create milestone being set for this project

[2015-12-29 19:46] himynameisdave commented on #1
+1 :+1:

[2015-12-29 19:56] stephenway commented on #1
:+1:

[2015-12-29 20:11] marcustisater opened #2 "Get together for first project meeting"
I think a wise idea is to get together on [Hangouts](https://hangouts.google.com/) or [gitter.im](https://www.gitter.im) and talk over some ideas and inputs for this project meanwhile that there are being some tickets & milestones created.

There is no set date for a meeting yet but plans are after new years when everybody is back home and are ready for some action.

Date to be updated soon and ho

[2015-12-31 14:13] marcustisater opened #3 "Artwork"
Andrey mentioned in [ticket 391](https://github.com/postcss/postcss/issues/391) that he is looking for some really nice artwork for this website, something that PostCSS seems to have quite frequently on Twitter, posts etc...

[2015-12-31 14:21] marcustisater opened #4 "Mockup"
We are going to be designing the website from scratch and I think a good idea is to get up a mockup up for review as soon as possible.

These are some initial thoughts from [ticket 391](https://github.com/postcss/postcss/issues/391)

**omgovic**

**admdh**

[2015-12-31 14:34] ai commented on #4
@mxstbr can help with new official plugin category. We should use awesome relevation algorith from npmseach.com

[2015-12-31 14:49] mxstbr commented on #4
@ai definitely, already have experience with that. Will watch the repo and wait for the mockups!

[2015-12-31 15:34] stephenway commented on #4
I'll be working up a comp today, and will post when it is ready.

[2015-12-31 15:41] marcustisater opened #5 "Slack"
We have a [Slack](https://postcsscom.slack.com) group. Slack only allows people with access to an email address at the domains specified by the team's Owner will be able to sign up therefor I have to do the invite only rule.

If you would like to join the Slack Channel please comment down below you're e-mail adress and the invite will be sent to you. You can also send me you're e-mail adress [priv

[2015-12-31 15:43] jonathantneal commented on #5
jonathantneal@hotmail.com

[2015-12-31 15:55] marcustisater opened #6 "Project Lead"
I think in order to run a very successful project you need some developers that are willing to put in some extra work/time and take responsibility therefor we should state some key people that can be lead of development and also design.

@ai will of course have the final word of everything but the main focus it to get some people in charge

TBD on [Gitter](https://gitter.im/postcss/postcss.com) up

[2015-12-31 15:58] marcustisater commented on #5
We will be doing gitter instead.

https://gitter.im/postcss/postcss.com

[2015-12-31 15:58] #5 closed

[2015-12-31 16:03] marcustisater commented on #4
That's awesome @stephenway

[2015-12-31 16:10] mxstbr commented on #6
Would love to help, have built postcss.parts and can integrate that if wanted!

[2015-12-31 16:24] marcustisater opened #8 "Engine"
The main decision is to agree on what system is going to be used for this website. My first thought was to do this website in like Jekyll or an small CMS system but now after so many people already wanting to contributing and having suggestions I will leave this up for a very open discussion.

@MoOx has one suggestion of using Statinamic stated in ticket [#391](https://github.com/postcss/postcss/i

[2015-12-31 16:27] marcustisater opened #9 "Domain"
@ai how is the domain name looking? It's already bought, I hope you did that? :stuck_out_tongue_winking_eye:

[2015-12-31 16:29] marcustisater opened #10 "Hosting"
@ai do you think it's possible to get up an staging server for tests when we start building the website? How is that part looking? Do you think that's necessary? It would be cool with some kind of a beta launch also

[2015-12-31 16:31] marcustisater commented on #6
Lovely, would love to talk more about that with you and the others on gitter after new years! I think it's a brilliant idea.

[2015-12-31 16:37] ai commented on #9
Ha-ha :). Yeap, I got [postcss.com](https://who.is/whois/postcss.com).

[2015-12-31 16:37] #9 closed

[2015-12-31 16:37] marcustisater commented on #1
I am not going to do anything fancy so will end up creating a bunch of issues and grouping them in order priority of milestones. Important stuff goes into Sprint 1 then Sprint 2 etc... This will also build a process of time line on what has to be completed first.

[2015-12-31 16:37] #1 closed

[2015-12-31 16:37] ai commented on #10
Do we need something more, that static server.

GitHub Pages is OK for static. For more, I can ask Evil Martians.

[2015-12-31 16:38] ai commented on #3
I also wrote to one Russian designer, who wrote me by email.

[2015-12-31 16:39] marcustisater commented on #10
Yeah I figured we wait for #8 to settle first.

[2015-12-31 16:39] marcustisater commented on #9
haha awesome, I just wanted to make sure :wink:

[2015-12-31 16:44] marcustisater opened #11 "Collection of ideas"
We are going to try end up having all initial suggestions for the website collected here. Try reference tickets to this one.

@ai had some very good suggestions from ticket [#391](https://github.com/postcss/postcss/issues/391)

You select basement: preprocessors or/and CSS4.
You select architecture: BEM, CSS Modules, etc.
You select a builder: Gulp, webpack, grunt, etc.
Pick some extra sugar.
We w

[2015-12-31 16:47] ai commented on #8
@mxstbr can we run plugins search on client side with any help from server?

[2015-12-31 16:49] ai commented on #11
Playground can be replaced by [AST Explorer](http://astexplorer.net/). They have PostCSS support and it the best.

@RReverser @fkling is it possible to include AST Explorer to other site? @marcustisater do wwe need it? :)

[2015-12-31 16:50] MoOx commented on #8
statinamic can prerender page during the build step and can also run client side react view (so live search with an api is not an issue)

[2015-12-31 17:03] fkling commented on #11
@ai: Not yet, but I have an issue open for that: https://github.com/fkling/astexplorer/issues/70 . Happy to work on this and open to suggestions.

[2015-12-31 17:20] jonathantneal commented on #8
My 2 cents: Let’s not over React.

I’d aim for beauty and simplicity while leveraging the tools of our community.

[2015-12-31 17:20] jonathantneal commented on #6
@mxstbr, fantastic news! I’d love to see that as well.

[2015-12-31 17:23] marcustisater commented on #11
I think it's a great idea of adding AST Explorer to the website to the section of "How to create you're first PostCSS Plugin". We can also leave it as an hyperlink if embedding is not possible.

[2015-12-31 17:24] fkling commented on #11
I started working on something that lets you specify the parser in the URL. That should be good enough for a start I guess.

[2015-12-31 17:32] mxstbr commented on #6
@marcustisater @jonathantneal could you ping me on [twitter](https://twitter.com/mxstbr) when that topic is talked about on Gitter please, I'm skiing at the moment and am seldomly near my chats. Thanks!

[2015-12-31 17:33] marcustisater commented on #8
I'm all about using more more modern stuff like React but I'd say that **simplicity** is a great point by @jonathantneal because we would want to have a low "learning curve" so more people can contribute something and also not relaying on @MoOx to be around for 24:7.

[2015-12-31 17:36] marcustisater commented on #6
I will let you know, the project is starting the 5th of January and there is also no rush or deadline set. We are just collecting some ideas and input from everyone.

[2015-12-31 17:36] mxstbr commented on #8
@ai yeah, that works.

I love React,  have worked a lot with it (postcss.parts is [written in react](https://github.com/mxstbr/postcss.parts)), and have been meaning to try Statinamic for a project, so I'll +1 that. I'm fine with Jekyll as well though.

[2015-12-31 17:37] mxstbr commented on #9
That would have been awkward, hah!

[2015-12-31 17:39] stephenway commented on #6
Looking forward to our meeting!

[2015-12-31 18:30] ai commented on #8
I understand @jonathantneal with this idea of simplicity.

But I really think that we should experiment with React based statis site. Yeap, it will be more complicated. But it is now fun, and hobby site is for fun.

Also we should use 100% isolated components with CSS Modules and postcss-autoreset with `all: initial`, like I told on http://ai.github.io/postcss-isolation/

It is good to show full p

[2015-12-31 18:34] mxstbr commented on #8
@ai :+1:

[2015-12-31 18:35] stephenway commented on #8
@ai Exactly, we need to make this website the driving force for all this project has to offer. :+1:

[2016-01-01 00:03] marcustisater opened #12 "Design"
Design to be made when #4 is completed.

[2016-01-01 00:13] marcustisater opened #13 "Boilerplate"
Boilerplate to be started when #8 is completed. What I mean by boilerplate is to add things like well documented and thought out structured CSS, JS before we get to building.

Should we consider to use structure like BEM or just plain up components with CSS Modules etc...

Assignee: **TBA** Lead Developer to help out?

[2016-01-01 00:25] stephenway commented on #12
I'm interested in helping with this. Already started a mockup but would like to also talk about strategy.

[2016-01-01 00:30] stephenway opened #14 "Logotype"
We already have the logo symbol but do not have a logotype to go with it. I would think this would be a requirement for a website. Would love to track this here and collectively look at type specimens and usage.

<img width="179" alt="screen shot 2015-12-31 at 4 31 33 pm" src="https://cloud.githubusercontent.com/assets/38894/12069292/085203de-afdc-11e5-9720-cfd9fca7767f.png">

First comp from toda

[2016-01-01 10:17] marcustisater commented on #14
Yes I agree with you, great point.

@ai do we have any specific styleguide to go after when it comes to font, colors etc?

[2016-01-01 10:30] marcustisater commented on #8
Alright, let's try out Statinamic. I think we have enough react heroes to make that happen :smile:

@mxstbr will be leading the development process. TBA upcoming meeting.

[2016-01-01 10:49] mxstbr commented on #13
Sorry, misclicked and closed the issue on accident.

I'd say let's go with components + CSS modules, it's the future and PostCSS fits perfectly with it.

[2016-01-01 11:04] marcustisater commented on #12
Awesome, yeah we definitely have to discuss strategy before moving forward with a full visual design.

[2016-01-01 11:07] ai commented on #13
Do not forget about `all: initial` and postcss-autoreset. Global reset and inherited properties is a problem too.

[2016-01-01 11:13] ai commented on #14
@stephenway looks like very nice. Maybe we should cappitalize “CSS” to? Like PostCSS?

[2016-01-01 11:14] ai commented on #14
Styleguide is simple: Middle Ages and alchemy. But, of course, we should not use medieval font. Just few references.

[2016-01-01 15:05] marcustisater commented on #2
8pm GMT

[2016-01-01 15:21] mxstbr commented on #2
Maybe we should leave the issue open so people can find it?

[2016-01-01 15:23] marcustisater commented on #2
Yes, you are right. I did a quick update on the README file as well.

[2016-01-02 18:43] MoOx commented on #13
I can setup the boilerplate for Statinamic, that will help me review statinamic doc + enhance the `setup` command.
Note: Statinamic default boilerplate provides css modules.

[2016-01-02 18:44] MoOx commented on #12
I think the design should be made with small PRs. That's imo the best way to get quick feedbacks.

[2016-01-02 18:45] mxstbr commented on #13
@MoOx can we do it together/can you walk me through it? Haven't worked with Statinamic at all.

[2016-01-02 18:45] MoOx commented on #8
I will try to submit a PR this week with a Statinamic default boilerplate.

[2016-01-02 18:45] MoOx commented on #10
Github pages will be more than enough for Statinamic ;)

[2016-01-02 18:54] MoOx commented on #14
What about using a typo like the effect on the logo:

![screen shot 2016-01-02 at 19 54 42](https://cloud.githubusercontent.com/assets/157534/12075739/b31b905a-b18a-11e5-9e72-f4155a8ac007.png)

[2016-01-02 18:57] marcustisater commented on #10
Great, I will set it up when there is some content to show as staging.

@ai are you considering using GitHub pages when the website goes live too?

[2016-01-02 18:57] MoOx commented on #13
Here is a start http://moox.io/statinamic/docs/setup/
That should help.
I think I need to add more stuff based on a discussion with someone in reactiflux.
Meanwhile, if you want to try this now, feel free to ask all the question you got as Github issues in Statinamic repo for now :)

[2016-01-02 18:58] stephenway commented on #14
@MoOx That idea would depend on if the logo symbol was intended to have an "o" inside it. Mixing the symbol into the logotype makes it hard to separate the two.

[2016-01-02 18:59] MoOx commented on #14
Yeah sure, that was just an idea ^^

[2016-01-02 19:06] marcustisater commented on #14
haha, that's funny.

@ai Great, maybe we can form an styleguide after the design is completed as well and double check everything so it's according to what you had in mind.

[2016-01-02 19:06] mxstbr commented on #13
@MoOx Cheers, will take a look!

[2016-01-02 19:07] marcustisater commented on #8
#13

[2016-01-02 19:07] #8 closed

[2016-01-02 19:10] stephenway commented on #14
Yea style guide would be a great for adding to the website and improving communication with the community.

[2016-01-02 19:12] marcustisater commented on #14
Yeah indded, It would be cool doing something similar to [lonleyplanet](http://rizzo.lonelyplanet.com/styleguide/design-elements/colours) or maybe we can use [postcss-styleguide](https://github.com/morishitter/postcss-style-guide) :wink:

[2016-01-02 19:14] MoOx commented on #14
Maybe this would be even more appropriate https://github.com/sapegin/react-styleguidist (and logical)

[2016-01-02 19:15] stephenway commented on #14
I've used that and ended up migrating to Jon's mdcss, absolutely happy with it. Comes with lots of options.

[2016-01-02 19:15] marcustisater commented on #14
That looks neat, we should definitely try that one out.

[2016-01-02 19:16] stephenway commented on #14
Maybe we should make a new issue for this? Agreed @MoOx

[2016-01-02 19:19] marcustisater commented on #14
Absolutely, that's my job to do :sweat_smile:

[2016-01-02 19:20] marcustisater opened #15 "Styleguide"
It would be awesome to create a styleguide from the visual design #12

@MoOx suggested https://github.com/sapegin/react-styleguidist

[2016-01-02 19:22] marcustisater commented on #14
Anyway, logo looks great to me but as @ai pointed out maybe make the CSS text a little big bigger and try that with the same red color if you mind @stephenway.

[2016-01-02 19:24] stephenway commented on #14
Yea I want to post some more options asap

[2016-01-02 19:39] marcustisater commented on #12
Agreed, that would be more efficient in this case.

[2016-01-02 20:37] ai commented on #10
@marcustisater yeap, GitHub Pages is fast and free :)

[2016-01-02 20:39] ai commented on #14
PostCSS sign is not good for “o”. Because it can be read as “A” to because of triangle.

[2016-01-02 20:41] marcustisater commented on #10
Awesome, I think a cool idea would be to create a subdomain like **beta.postcss.com** when we have something to show if you would like to have it public otherwise we can add robots and have it only available here to find.

[2016-01-02 20:43] MoOx commented on #10
I don't think it's a big deal that a WIP is public (on postcss.com, not under a subdomain). The main thing is just to not share the link until you consider it's "good enough".

[2016-01-02 20:49] ai commented on #10
Yeap, I think too that we can put content directly to `postcss.com`, because any content is good for PostCSS

[2016-01-02 20:53] stephenway commented on #10
I would caution that the beta subdomain might get indexed unless it's in it's own repo without a master branch. http://stackoverflow.com/questions/15844905/how-to-stop-google-indexing-my-github-repository

Of course indexing a site with the same or similar content could lead to search engines marking your site as duplicate content. Unless you want to canonicalize the beta site.

[2016-01-02 21:00] marcustisater commented on #10
:+1:

[2016-01-02 21:03] marcustisater commented on #13
Great, feel free to override README with documentation of how to to get Statinamic up and running locally once it's up.

[2016-01-02 21:12] MoOx commented on #13
"npm start" will be enough for local usage.

For "production" (build + commit to github pages - gh-pages branch) we will need to follow (once) instructions of statinamic docs to automate deploy on each commit pushed to master. I can help for that.

[2016-01-02 21:21] mxstbr commented on #13
Let's do that and make master protected and only be committed into via PRs for safety.

If all you are going to do is the setup thing in the Statinamic docs, I can submit a PR as well.

[2016-01-02 21:35] MoOx commented on #13
Feel free to do it @mxstbr ;)

[2016-01-02 22:51] stephenway commented on #14
This is an overview of the first type exploration from today, I've bordered 2 I think work nicely when paired with the logo symbol.

![postcss-logotype-options](https://cloud.githubusercontent.com/assets/38894/12076420/0c3ca384-b160-11e5-9781-f09ef35e897c.png)

[2016-01-02 22:51] MoOx commented on #14
The third lgtm :)

[2016-01-02 22:54] stephenway commented on #14
@MoOx  That's using [Google's Poppins](https://www.google.com/fonts/specimen/Poppins) font.

[2016-01-02 22:55] ai commented on #14
4th in right is a Cyrillic reference? :D

http://i.kinja-img.com/gawker-media/image/upload/s--GSNBcS9r--/c_scale,fl_progressive,q_80,w_800/18j1kyfaz7pb7jpg.jpg

[2016-01-02 22:55] marcustisater commented on #14
Great work, the third or seventh in my opinion.

[2016-01-02 22:56] stephenway commented on #14
@ai Cyrillic, yes, kinda failed on getting a good "T", but I think it's readable. Maybe need to substitute with a "T" from another font?

[2016-01-02 22:57] marcustisater commented on #14
but on the other hand I agree with the choice of number duo:

[2016-01-02 23:03] ai commented on #14
Guys, do you want a crazy idea? There is a very strange medieval way to write a letters.

https://s-media-cache-ak0.pinimg.com/originals/40/84/db/4084dbadc95d6f95bbe07e0e330c752f.gif
http://eldesign.ru/upload/Image/sreda/2007-05-23/letter_r08.gif
https://s-media-cache-ak0.pinimg.com/originals/6b/b4/dc/6bb4dc58d61fc8dc7f7e182368dda295.gif

The idea is to combine symbols in calligraphy pattern, like

[2016-01-02 23:06] ai commented on #14
@stephenway you can find more by “orthodox calligraphy” or “Vyaz”
http://www.christianforums.com/proxy.php?image=http%3A%2F%2Fmedia-cache-ak0.pinimg.com%2F736x%2F74%2F47%2Fd4%2F7447d42fe887d0a99a360013db21debf.jpg&hash=b4b90ec56d2cb118c9d713f195866376
https://s-media-cache-ak0.pinimg.com/236x/fa/13/e5/fa13e5eadb29f7d7c1047ed0e8dad538.jpg

[2016-01-02 23:09] stephenway commented on #14
@ai Those examples are really cool, is that your own henna? I can try drawing some of that for round 2, but I will make sure that we come up with something that is easy to read too.

[2016-01-02 23:13] stephenway commented on #14
So far it sounds like we are looking at these options, plus more calligraphic options that I will get going soon for round 2.
![round-1-choices](https://cloud.githubusercontent.com/assets/38894/12076529/68123644-b163-11e5-8647-eb9c530127d1.png)

[2016-01-02 23:34] ai commented on #14
@shinnn nope-nope, pseudo-cyrillic case we can remove. Cyrillic has own special philosophy and mirroring is not a right way :).

[2016-01-02 23:35] ai commented on #14
I amd OK with first. Separating “Post” and “CSS” is a good point of view.

[2016-01-02 23:38] ai commented on #14
@stephenway yeap, it is my henna, but it is not my paintings. I just copy them from some medieval book. It will be cool, if we try this Vyaz way. Because it is like playing with static React. This PostCSS site project should be a hobby project to test new ideas for us. We have a lot of task in our job to make a common ordinary solution.

[2016-01-03 20:21] stephenway commented on #14
Discussion will continue in postcss/brand#3

[2016-01-03 20:21] #14 closed

[2016-01-03 23:19] stephenway commented on #14
To all that subscribed and follow this thread. Follow the brand link for our round 2 options posted today.

[2016-01-04 11:42] marcustisater commented on #13
Agreed @mxstbr that's already set to default. PR needs to be reviewed before merged into master.

@mxstbr can you setup the initial files to master then we can go from there with setting up more files if needed.

[2016-01-04 11:44] MoOx commented on #13
@mxstbr if you need assistance, do not hesitate to use Statinamic support (me haha). I plan to work on this project for the incoming weeks/months.

[2016-01-04 11:46] mxstbr commented on #13
@marcustisater will do!

@MoOx thanks, if I run into problems I'll submit issues!

[2016-01-04 20:39] mxstbr commented on #13
Very initial setup done, will take a deeper look tomorrow!

[2016-01-04 20:57] MoOx commented on #13
Do not hesitate to tell me how bad your experience was (because currently I think it's not really convenient...) and what we should improve. Feedbacks are important to me.

[2016-01-05 09:35] marcustisater opened #16 "Include statinamic to package.json"
I think we need to include the **npm** for the statinamic build to the package.json or am I wrong?

[2016-01-05 09:35] marcustisater commented on #16
https://github.com/postcss/postcss.com/commit/e31c9edddfae57567fd8cb801afd54f871fbd4f3

[2016-01-05 09:43] marcustisater commented on #16
reopen if it's need fixes..

[2016-01-05 09:43] #16 closed

[2016-01-05 09:46] marcustisater commented on #13
Can someone double check this for me #16? Thanks.

[2016-01-05 09:52] mxstbr commented on #16
Thanks, am currently on the slopes skiing.

[2016-01-05 09:54] marcustisater commented on #16
Yeah I was just trying to setup everything locally. have fun! :ski:

[2016-01-05 10:01] mxstbr commented on #16
Thanks for trying!

[2016-01-05 12:10] iamstarkov commented on #2
for anybody in europe
20:00 Greenwich Mean Time (GMT) is 21:00 Central European Time (CET)

[2016-01-05 12:13] marcustisater commented on #2
Yes, that's correct. Thanks for clearing that out, will do a quick update in the README.

[2016-01-05 15:03] marcustisater commented on #11
I will break this ticket down into several ones then we can decide on what gets implemented and what not. I will also wait for #4 to finish off here.

If there any more ideas, that can be created into more issues labeld as **dicussion** or **question**

[2016-01-05 17:16] marcustisater opened #17 "Plugins list"
We need a section for visitors to search & find PostCSS Plugins, similar to http://postcss.parts/ - Is it possible to integrate PostCSS Parts into this?

[2016-01-05 17:33] mxstbr commented on #17
Yep, that's one of my main qualifications I guess.

Andrey had some suggestions for the plugin list which we should include, so
I think we should link to postcss.parts for v1 and then build a much
better, integrated plugin list for v1.1.

I'll have a think about how to refactor postcss.parts in a more modular way!

Same thing applies to the wizard, let's keep it simple for v1 and do a soft
launch

[2016-01-05 17:47] marcustisater opened #18 "PostCSS Plugin Package"
Something that we have mentioned before is building a "build you're own PostCSS package" section were you can get some kind of a postcss-package from just a few simpel clicks in a GUI similar as Yeoman.

@ai idea

You select architecture: BEM, CSS Modules, etc.
You select a builder: Gulp, webpack, grunt, etc.
Pick some extra sugar.
We will get you a exactly code to copy-paste to your build process

[2016-01-05 17:54] marcustisater opened #19 "Documentation"
There should be some very good documentation of PostCSS on the website. Here are some quick initial ideas;

* How to get started
* Developer API
* PostCSS in a nutshell

etc...

There are already some very good documentation on the PostCSS GitHub page that we can use.

[2016-01-05 17:57] MoOx commented on #19
And probably some good idea http://webdesign.tutsplus.com/series/postcss-deep-dive--cms-889

[2016-01-05 18:00] marcustisater opened #20 "AST Explorer"
AST explorer to be embedded/integrated for plugin developers. There is a [issue]((https://github.com/fkling/astexplorer/issues/70) that has to be resolved first. Feel free to help.

@fkling

[2016-01-05 18:02] #11 closed

[2016-01-05 18:04] marcustisater opened #21 "Migration guide"
@ai mentioned an idea to create a migration guide for PostCSS

[2016-01-05 18:25] marcustisater commented on #6
closing

#2

[2016-01-05 18:25] #6 closed

[2016-01-05 18:57] ai commented on #17
@mxstbr the Number 1 task is to use `postcss-plugin` and npmsearch.com. Manual list sucks.

Also we should highlight most important plugins, as we did in README.md.

I think this task should be done for v1, because they are really important. Without npmsearch.com we will have not full list of plugins. Without highlighted plugins we will create wrong PostCSS impression.

[2016-01-05 18:59] ai commented on #18
Maybe not only plugin package but also exact code examples for selected build tool.

Like wizard to add PostCSS to your project if you do not want to think :).

I can create a questions later.

[2016-01-05 18:59] ai commented on #19
We have a special section in README.md right now with most important docs:
https://github.com/postcss/postcss#articles

[2016-01-05 19:00] ai commented on #21
Maybe we can merge with idea with that wizard. Just ask first question: “Is it a new project or legacy one”

[2016-01-05 19:01] marcustisater commented on #17
Let's try make this feature happen for 1.0.

[2016-01-05 19:06] marcustisater commented on #18
Yeah, thanks. We need some psuedo to get this going before developing.

Are we prioritizing this issue for first launch [1.0](https://github.com/postcss/postcss.com/milestones/1.0)?

[2016-01-05 19:08] ai commented on #18
I think this issue can wait :-)

[2016-01-05 19:13] marcustisater commented on #21
Yeah, would be cool. We could start with some initial documentation combined with #19

[2016-01-05 19:21] marcustisater commented on #19
If someone is contributing with documentation they have to agree by [Creative Commons Legal Code](https://creativecommons.org/licenses/by/3.0/legalcode). This is something we need to have in the repository listed.

[2016-01-05 19:31] marcustisater opened #22 "Contributing documentation"
We need a REAMDE file with documentation of how to contribute.

[2016-01-05 19:32] mxstbr commented on #22
Will add more info about the technical side as soon as I've figured out Statinamic myself. :+1:

[2016-01-05 19:33] marcustisater commented on #22
Yeah, we need a section as well for code guidelines.

[2016-01-05 19:33] ai commented on #19
BTW, why we use here CCPL 3.0, and not CC-BY-4.0?

[2016-01-05 19:36] marcustisater commented on #22
https://github.com/postcss/postcss.com/blob/master/CONTRIBUTING.md

[2016-01-05 19:46] marcustisater commented on #19
Ok, CC-BY-4.0 is fine by me. Is that what you are using on [PostCSS](https://github.com/postcss/postcss) repo?

[2016-01-05 19:49] ai commented on #19
Nope, we use MIT in PostCSS. We use CC-BY in PostCSS Brand repo.

[2016-01-05 19:59] MoOx commented on #17
You could get plugins from npm + whitelist some that you want to promote or make "approved by the community"

[2016-01-05 20:00] marcustisater commented on #19
Ok, let's go with CC-BY-4.0, let me set it up.

[2016-01-05 20:01] mxstbr commented on #17
@ai alright will do.

@MoOx see this issue: https://github.com/mxstbr/postcss.parts/issues/12

[2016-01-05 20:25] stephenway commented on #17
For reference, the Karma project just links to a npm keyword search http://karma-runner.github.io/0.13/config/plugins.html (see "existing plugins" link)

[2016-01-05 20:27] mxstbr commented on #17
Highly likely going to use npmsearch.com :+1:

[2016-01-06 15:17] stephenway commented on #4
Based on feedback I've seen so far, I've come up with a rough mockup for today's meeting. It's wording isn't expanded on yet, but you can get the general look and feel we are going for. Progressive & an alchemy theme. Unfortunately, my kids and I have fallen ill today, I was up off and on all night so I will do my best to be active and present at the meeting, but just in case, here's the latest st

[2016-01-06 15:20] MoOx commented on #4
:+1:

[2016-01-06 15:26] marcustisater commented on #4
Wow, this looks absolutely brilliant. I really like the way you have combined the clean look with an alchemy touch on it. I am sorry to hear you guys got sick, feel better. No worries if you can't make it.

[2016-01-06 15:43] mxstbr commented on #4
:+1: love it!

[2016-01-06 15:43] ai commented on #4
Let’s replace “Featured Plugins” title to “Why PostCSS is useful”. So every plugin will be a story why PostCSS can make your development process better.

Also, I think we can move this “Why PostCSS is useful” section upper. It is out main section and it should be visible without scroll.

[2016-01-06 15:46] ai commented on #4
Old man image is awesome. Is it free?

Maybe we can put it to footer and make little bit more contrast. Also it will allow us to use lazy load for it. We should load first content that is important for user.

[2016-01-06 15:46] marcustisater commented on #4
Remember that it's a mockup :stuck_out_tongue_winking_eye:

but great point @ai about visibility without scroll that should definitely be taking under consideration when creating the final design visual.

[2016-01-06 15:55] marcustisater commented on #22
Code guidelines and issues label sections is left over to do.

[2016-01-06 16:35] DaZzz commented on #12
Ready to help. :shipit:

[2016-01-06 17:16] Promhize commented on #4
I think the overall theme should follow that of getgrav.org

[2016-01-06 17:23] mxstbr commented on #22
@marcustisater will you document the issue labels, seeing as you created them?

[2016-01-06 17:50] MoOx commented on #22
my 2 cents for labels https://github.com/MoOx/setup/blob/1b712c1f9cb2495585d47c4db6acba0c9558a0ab/dotfiles/zshrc#L234-L235

[2016-01-06 18:04] marcustisater commented on #22
Yeah, I need to structure those. Thanks @MoOx

[2016-01-06 18:31] marcustisater commented on #22
I updated the labels with some of your's, will document them in the markdown file as well.

[2016-01-06 20:16] stephenway opened #26 "Content Strategy"
### Refine and clarify your goals

Determine what you want to accomplish.

1. Communicate differentiation
1. Provide overview of quote process
1. Show value through rich media
1. Outline next steps *(testimonials, referrals, etc.)*

Define who will be visiting your website and what you want them to do. Primary and secondary audiences should be considered on every page.

## Demographics
Example of

[2016-01-06 20:16] stephenway opened #27 "Open Source Design"
[Invision](https://invisionapp.com) - Emailed Support about OSS Plans
[Zeplin](http://zeplin.io) - Offering free plan with 3 projects
[Pixelapse](https://www.pixelapse.com) - Unlimited public projects! Thanks @patrick91

@marcustisater - Need issue labels for `design` and `design needed`.

[2016-01-06 20:18] stephenway commented on #12
## Templates
* docs
* plugin list
* wizard/generator/etc

[2016-01-06 20:19] patrick91 commented on #27
This [article](http://una.im/open-source-design/#💁) by @una could be helpful :)

[2016-01-06 20:44] mxstbr opened #28 "Explain Statinamic"

[2016-01-06 20:44] mxstbr commented on #28
/cc @MoOx

[2016-01-06 20:44] MoOx commented on #28
Can you elaborate a little bit?

[2016-01-06 20:45] marcustisater commented on #28
There is a on-going meeting on gitter right now if you have a few minutes over to join us.

[2016-01-06 20:50] mxstbr commented on #13
Need a better webpack config maybe

[2016-01-06 20:54] marcustisater commented on #27
Reminder to check with support if invasionapp or similar can offer free plans for PostCSS.com

[2016-01-06 21:17] MoOx commented on #13
I think I will include postcss-cssnext in the default boilerplate but that won't be good for everybody.
Anyway, that's the power of statinamic: you define what you want/need.
Here is an example of another config https://github.com/putaindecode/putaindecode.io/blob/master/scripts/build.js

[2016-01-06 21:19] marcustisater commented on #28
We had a brief discussion if it would be possible with some more documentation for React/Statinamic. @mxstbr suggested doing a intro webcast about Statinamic, that would most likely involve more people into easing into it.

[2016-01-06 21:29] MoOx commented on #28
http://moox.io/statinamic/ should be the reference. If you feel that something is missing (or just have a question) please open an issue on statinamic website.

[2016-01-07 15:40] marcustisater commented on #13
Discussion from the meeting is to get the boilerplate ready before #12 is completed and also provide more documentation - #28

[2016-01-07 15:45] marcustisater opened #29 "linting error"
There seems to be a problem with npm start with static not working. If this is a Statinamic issue, please recreate the issue on it's repository or refer this one.

`throw new Error("webpack build failed with errors");`

[2016-01-07 15:49] mxstbr commented on #29
@MoOx any ideas?

[2016-01-07 16:15] marcustisater commented on #15
There was a brief discussion about investigating more into how we can create a good style guide. @CodeTheory and @skllcrn signed up to help, maybe @stephenway can help them get started or investigate more into what would be best in this case to get this going.

[2016-01-07 16:17] marcustisater commented on #26
Let me know if you need help planning this one out, it's probably going to be more one of the more difficult ones to create a good strategy.

[2016-01-07 16:18] marcustisater commented on #2
Thanks for coming, got really good feedback and it was appreciated having this.

[2016-01-07 16:18] #2 closed

[2016-01-07 16:19] MoOx commented on #29
I know exactly what this is. Currently the boilerplate contains eslint-loader but no eslint config.
So 2 solutions:
- http://moox.io/statinamic/docs/advanced/good-practises/#linting
- or grab some pieces at least this https://github.com/MoOx/eslint-config-i-am-meticulous/blob/master/index.js#L6-L16

[code]

Renaming the issue according to this.
I will create a minimal eslint preset and explain why

[2016-01-07 16:20] marcustisater opened #30 "Documentation Strategy"
We need a good strategy of how to plan out all the documentation labeld for this project.

#26 #19

[2016-01-07 16:20] MoOx commented on #29
https://github.com/MoOx/statinamic/issues/72

[2016-01-07 16:21] marcustisater commented on #22
Code guidelines left to do.

[2016-01-07 16:26] stephenway commented on #26
Basic questions added, I'll have more time tonight to start filling in the blanks, anyone can help answer as well :smile:

[2016-01-07 16:26] mxstbr commented on #29
I see, will fix soon!

[2016-01-07 16:27] mxstbr commented on #22
These depend on the solution for #29, will do soon.

[2016-01-07 16:59] MoOx opened #31 "Configure the DNS and domain"
That would be nice to already have this setup :)
Btw, I think www. are should not be used, this provide a 90' feeling and PostCSS is the future, not the past :)

[2016-01-07 17:12] ai commented on #31
+1, let’s redirect from `www.postcss.com` to `postcss.com`

[2016-01-07 17:13] mxstbr commented on #31
:+1:

[2016-01-07 17:20] marcustisater commented on #31
Agreed, I think we need to setup a CNAME file to the repo and add the alias/A-records to DNS provider. I can look into this with some help from @ai with the DNS.

[2016-01-07 17:23] MoOx commented on #31
The CNAME should be generated by the build step, like this https://github.com/putaindecode/putaindecode.io/blob/d4cc328c0c2595c605ac8469339f37c6312ddf21/package.json#L79

[2016-01-07 17:23] ai commented on #31
yeap, give a settings, I will put them to DNS. Maybe I can dive you a access, but I didn’t know how and I hope DNS confirugation is once-done-task

[2016-01-07 17:24] #29 closed

[2016-01-07 17:24] MoOx commented on #31
I have all my domain at Gandi, so I can help with the setup.

[2016-01-07 17:26] marcustisater commented on #31
I would be happy to give you the entire task if you have time since I haven't set this up one before with build step generators @MoOx :smile:

[2016-01-07 17:28] marcustisater commented on #31
Are you up for it? :blush:

[2016-01-07 17:30] MoOx commented on #31
I have to leave my computer, but you can send me the gandi id I can do that later in the evening or tomorrow morning. Or you can add my as the technical contact, I will send you my gandi id in private.

[2016-01-07 17:35] marcustisater commented on #31
I'm afraid I don't have the login access to gandi, @ai is the owner of the domain. @ai can you send me the login details or grant @MoOx as tech-support so he can get in touch with them and set this up.

[2016-01-07 17:41] ai commented on #31
I aslo have `postcss.ORG`. Should we make a redirect?

[2016-01-07 17:43] mxstbr opened #32 "Code style"
Currently, the entire code follows @MoOx' [eslint-config-i-am-meticulous](https://github.com/MoOx/eslint-config-i-am-meticulous).

To be honest, I don't think it matters which exact style guide we adhere to, as long as we choose one and force eslint to complete successfully before we merge anything into master.

I'd be fine with simply enforcing `eslint-config-i-am-meticulous` since the whole code

[2016-01-07 17:43] marcustisater commented on #31
Yeah, I think .org should be redirected as well.

[2016-01-07 17:50] mxstbr opened #34 "Add https://lgtm.co"
This looks very useful for this project, this means without approval of the core maintainers no PR can be merged.

@ai @marcustisater do you want to be in the MAINTAINERS file? You'd have to comment each and every PR then with `LGTM` though.

[2016-01-07 17:52] ai commented on #34
Nope :). But I anyway will be around :).

[2016-01-07 17:52] ai commented on #31
I gave access to @marcustisater. Seems like Gandi have only one tech contact.

[2016-01-07 17:53] marcustisater commented on #4
Can we start breaking this down into smaller parts as mentioned during the meeting? Small PRs for better and faster feedbacks.

#27

[2016-01-07 17:55] MoOx commented on #34
@mxstbr You can customize pattern and accept `:+1:` or anything ;)

[2016-01-07 17:55] mxstbr opened #35 "Add Travis CI"
Add continous integration so no PR gets merged that doesn't adhere to the common code style (will be defined in #32) and that breaks the build (and the website) in the process.

[2016-01-07 17:55] marcustisater commented on #34
Sure, I think @MoOx could be a good asset too if he has time for it.

Isn't it good enough if one of the members accepts it, why all? It seems like a lot of work and waiting...

[2016-01-07 17:56] mxstbr commented on #34
Mainly so my mistakes don't slip through cracks, but if I'm the only one in the file it doesn't really make sense to have it. :)

[2016-01-07 17:57] MoOx commented on #34
You can configure who many I think.

[2016-01-07 17:58] marcustisater commented on #34
That's true, maybe we can add some more "validators" that has enough experience to approve code.

@jonathantneal , @stephenway ?

[2016-01-07 17:58] marcustisater commented on #34
I think it's enough if two people in the MAINTAINERS file approves the PR before merge.

[2016-01-07 17:59] mxstbr commented on #35
Just realized Travis is already enabled, I only need to add a proper `.travis.yml`! https://travis-ci.org/postcss/postcss.com

[2016-01-07 17:59] stephenway commented on #4
Once we have a template and establish overall theme, I think we can.

[2016-01-07 17:59] mxstbr commented on #34
I like that!

[2016-01-07 18:00] MoOx commented on #32
Currently you do not use this preset and you eslint config don't enforce anything. You just parse with babel parser.
To use my preset, you will need to use this config http://moox.io/statinamic/docs/advanced/good-practises/#linting

[2016-01-07 18:00] marcustisater commented on #35
Yup, travis-cli is already enabled. You should have access.

[2016-01-07 18:01] mxstbr commented on #35
On it

[2016-01-07 18:01] marcustisater commented on #31
Wish me luck, hehe.

@MoOx let me get back to you if I need any help. I will try to set this up tomorrow.

[2016-01-07 18:02] marcustisater commented on #34
Sounds great, count me in for that.

[2016-01-07 18:03] mxstbr commented on #32
Yeah, I know. :)

If nobody voices an objection to `eslint-config-i-am-meticulous` within 24 hours, I'll simply use that. I think it's the best solution, as it saves time which we don't have to spend to change the entire code style.

/cc @ai @marcustisater what do you think, you fine with `eslint-config-i-am-meticulous`?

[2016-01-07 18:05] MoOx commented on #32
If you want to change, most rules can be automatically fix themselves (see eslint --fix option). So no big deal ;)

[2016-01-07 18:05] MoOx commented on #34
I can help if we can define me as "optional" (I mean not required all the time)

[2016-01-07 18:08] MoOx commented on #31
I just take a look to my dns config

[code]

[2016-01-07 18:08] #22 closed

[2016-01-07 18:10] #35 closed

[2016-01-07 18:13] mxstbr opened #37 "Enable automatic deployment to gh-pages"
See http://moox.io/statinamic/docs/usage/gh-pages/

[2016-01-07 18:16] marcustisater commented on #31
Thank you.

#37 for auto-deploy pr welcome.

[2016-01-07 18:20] marcustisater commented on #10
#31

[2016-01-07 18:21] marcustisater commented on #32
`eslint-config-i-am-meticulous` sounds good to me :+1:

[2016-01-07 18:23] mxstbr commented on #34
@ai can you either add me to the postcss team or enable LGTM for this repo on https://lgtm.co?

[2016-01-08 14:06] marcustisater commented on #18
I like the one over at Zurb Foundation - very simple to use. http://foundation.zurb.com/sites/download.html/#customizeFoundation

[2016-01-08 15:52] ai commented on #34
I am in the city. Can I add it today evening, when I will be near my laptop?

[2016-01-08 15:53] mxstbr commented on #34
Yeah definitely, don't worry about it!

2016-01-08 16:52 GMT+01:00 Andrey Sitnik <notifications@github.com>:

[2016-01-08 16:02] MoOx commented on #34
@ai I just took the liberty to handle this. @mxstbr have been invited.
Btw, github ask to migrate the org to new roles and shit, so I did that. Note that for now (as it was before) everybody is an owner. Trust is key imo :)

[2016-01-08 16:02] mxstbr commented on #34
@MoOx thanks, LGTM.co is now enabled for this repo!

[2016-01-08 16:02] #34 closed

[2016-01-08 19:56] marcustisater commented on #31
It should be running as soon when DNS has propagated. I have to look at webforwarding for subdomains and www too.

[2016-01-08 20:18] MoOx commented on #31
Already working for me.

[2016-01-08 20:24] marcustisater commented on #31
Awesome, not for me yet :cry: Is everything working alright for you? I'll start looking at the automatic deployment meanwhile #37

[2016-01-08 20:53] MoOx commented on #31
![screen shot 2016-01-08 at 21 52 03](https://cloud.githubusercontent.com/assets/157534/12209276/3047fe26-b652-11e5-9101-586d09af869f.png)

[2016-01-08 20:53] MoOx commented on #31
and www redirection to postcss.com like it should.
gh-pages needs some content now :)

[2016-01-08 21:48] marcustisater commented on #37
@MoOx - Auto deployment seems to override the entire repository including the CNAME file. Any work-arounds?

[2016-01-08 21:50] MoOx commented on #37
Let me double check.

[2016-01-08 21:53] MoOx commented on #37
Publish looks good https://github.com/postcss/postcss.com/tree/gh-pages here
You just didn't finish the automatic step http://moox.io/statinamic/docs/usage/gh-pages/#automatically-with-travis-ci
Also, since you are testing on multiples node version, you will need to deploy on for a certain version of node, like this https://github.com/MoOx/statinamic/blob/master/.travis.yml#L13-L19 (note that you

[2016-01-08 21:55] MoOx commented on #37
And for the CNAME, you might need something like this https://github.com/putaindecode/putaindecode.io/blob/master/package.json#L79 (adjust the script name)

[2016-01-08 21:55] MoOx commented on #37
What happen you run "npm run deploy" by hand?

[2016-01-08 22:03] marcustisater commented on #37
It runs great from local, everything is running as expected. I forgot to adjust the script to add the CNAME file and setting up the Travis-Cli with this one as well, just wanted to try out npm run deploy one. Thanks for fast response.

[2016-01-08 23:03] marcustisater commented on #37
I'm probably doing this all wrong or just missing something very important, it's late :tired_face: Can you double check this for me? Thanks.

[2016-01-09 10:46] marcustisater commented on #31
I added some routing with htacess to fix www redirection but I would need that as well in the gh-pages. I guess this has to be added in the scripts section too or is there any other way to do it?

[2016-01-09 10:47] MoOx commented on #31
htaccess do not work on gh-pages. It's not that easy :)

[2016-01-09 10:51] MoOx commented on #37
I will fix that into master directly

[2016-01-09 10:56] marcustisater commented on #31
That makes sense, any other suggestion? Can you do this in any other way then hardcoding the domain name?

[2016-01-09 10:58] MoOx commented on #31
You already have a redirection from www.postcss.com to postcss.com, what do you need to add? It's not clear for me.

[2016-01-09 11:01] MoOx commented on #37
Ok master is almost ready, it just seems I mentionned an example with GITHUB_TOKEN  instead of GH_TOKEN. I updated master this way, should fix it. Finger crossed.

[2016-01-09 11:05] MoOx commented on #37
WOOT. That's it http://postcss.com/

[2016-01-09 11:05] #37 closed

[2016-01-09 11:05] MoOx commented on #37
I will update statinamic docs according to this experience.

[2016-01-09 11:05] marcustisater commented on #37
Whoop whoop! Thanks for fixing this :smile:

[2016-01-09 11:06] marcustisater commented on #31
Ah yeah of course, sorry. It's already fixed by homepage.

[2016-01-09 11:06] #31 closed

[2016-01-09 11:07] marcustisater commented on #31
Thanks for the help.

[2016-01-09 11:07] #10 closed

[2016-01-09 11:10] marcustisater commented on #28
Agreed, the main documentation should be on http://moox.io/statinamic/ but we need to referens it from here in a better way.

[2016-01-09 11:11] MoOx commented on #28
Sure.

[2016-01-09 11:18] marcustisater opened #40 "Favicon"
We would need a favicon - http://realfavicongenerator.net/

@stephenway should we include this into the brand repo as well or is it irrelevant?

[2016-01-09 11:21] ai commented on #40
@quaritexa made a clean version of logo. Let's take it

https://github.com/postcss/brand/issues/6

[2016-01-09 11:21] ai commented on #40
And let's not create too many favicons like many generators do. I think we need only 32 and 192 px sizes.

[2016-01-09 11:22] ai commented on #40
Also I think black favicon is cool

[2016-01-09 11:25] marcustisater commented on #27
There you go, I think you should have access to make changes to labels as well.

[2016-01-09 11:58] quaritexa commented on #40
https://www.dropbox.com/sh/jz7kj75l1i9hhbw/AACjNu5EjOdgCX2fUqic6j6Ya?dl=0

[2016-01-09 12:05] ai commented on #40
For 192 "iphone" favicon we can use official logo. More details will be even better. But 32px version looks good.

[2016-01-09 13:58] mxstbr opened #42 "Add label "needs review""
Might be helpful for PRs. Thoughts?

[2016-01-09 14:07] MoOx commented on #42
+1

[2016-01-09 14:29] mxstbr commented on #13
I think it makes sense to separate available layouts (e.g. `Page`, `PageError`,...) from more general React components (e.g. `Button`, `Footer`,...) by putting them in a separate folder.

**I suggest we call the folder `web_modules/pages` for the layouts and `web_modules/components` for more general components.**

*`routes` was another option I was thinking about, but I'm pretty sure for beginners

[2016-01-09 15:00] MoOx commented on #13
What about this (I use it on a website and I like it)

- web_modules/* for components
- web_modules/layouts/* for layouts components ?

[2016-01-09 15:05] marcustisater commented on #42
Yeah, it would.

Added to labels.

[2016-01-09 15:05] #42 closed

[2016-01-09 15:35] mxstbr commented on #13
:+1: I like it!

[2016-01-09 16:11] marcustisater commented on #27
Suggestion from @stephenway to go http://www.pixate.com/ instead?

[2016-01-09 16:20] mxstbr commented on #27
Suggestion: https://marvelapp.com/

[2016-01-09 18:24] deannnrie commented on #4
Hi folks, here's my first version of the sketch.
Waiting for comments :)

![postcss](https://cloud.githubusercontent.com/assets/803587/12217621/618de84a-b717-11e5-9ba6-012abe979693.png)

[2016-01-09 18:36] MoOx commented on #4
This does not take in consideration the recently update brand https://github.com/postcss/brand
Btw, the sentence is too long imo.

[2016-01-09 18:53] marcustisater commented on #4
Howdy @deannnrie - Thanks for sending in a mockup for postcss.com. As @MoOx mentioned, we do have a very strict brand to follow but I think overall you added in some very good points to take notes from.

Quick feedback
* GitHub link is great in main navigation - adds in as a very nice shortcut that a lot of people recognize right away.
* Great set of menu-links
* Simple landing screen with "Get St

[2016-01-09 18:56] mxstbr commented on #4
To be honest though, I think "transform your CSS with JS" isn't a good tagline. As a new user, I'll be thinking "Why would I want to do that? Fuck off." and not look at the project a second time.

I think the tagline should be something that sells the benefit, not how the benefit is achieved.

[2016-01-09 18:57] #28 closed

[2016-01-09 18:58] MoOx commented on #4
my tagline proposal do that same as babeljs but for CSS. Because that what it does. PostCSS is a CSS compiler. :D

[2016-01-09 19:00] mxstbr commented on #4
I don't think that's the right way to go. That just opens up the question "Why do I need a CSS compiler?" (which is what we should answer with the tagline), and if since we don't immediately answer that I think a lot of first timers won't be intrigued by PostCSS.

[2016-01-09 19:01] MoOx commented on #28
:+1:

[2016-01-09 19:02] marcustisater commented on #4
I get the point but I think the tagline for PostCSS has been there for too long for it to change really. Everyone seems to explain PostCSS this way as well, that sets a mark.

[2016-01-09 19:03] MoOx commented on #4
Don't think it's a reason to keep it. Opening an issue for it.

[2016-01-09 19:04] MoOx opened #46 "Tagline"
I think this should be discussed, following https://github.com/postcss/postcss.com/issues/4#issuecomment-170269433

[2016-01-09 19:04] deannnrie commented on #4
@marcustisater Ok, I just happened to see today, I will follow an approved brand :+1:

[2016-01-09 19:05] MoOx commented on #46
One other (simple) idea: Enhance your CSS.

[2016-01-09 19:05] MoOx commented on #46
(reminder: most people don't write plugin and probably don't give a shit about the fact that it use js - most people use Sass these days, which is in ruby or c ^^)

[2016-01-09 19:08] marcustisater commented on #46
I just don't see a reason for the entire PostCSS tagline to change, it has been sticking there for too long. However I am very open for ideas and a discussion about this, maybe it will change my mind.

[2016-01-09 19:11] marcustisater commented on #4
That sounds good @deannnrie - looking forward.

[2016-01-09 19:11] marcustisater commented on #4
@stephenway can we try organize a more approachable way of getting a template and established theme ready. This issue can easily become very confusing for new incomers.

[2016-01-09 19:13] mxstbr commented on #46
I agree with @MoOx, I think the current tagline isn't very optimal. We need to sell the benefit of using PostCSS, not how the benefit is achieved!

[2016-01-09 19:16] marcustisater commented on #46
Feel free to add more taglines other Open Source Project got, can get us thinking :thought_balloon:

Sass tagline "CSS with superpowers"
Stylus tagline "Expressive, Dynamic, Robus CSS"

[2016-01-09 19:19] marcustisater commented on #46
If we were to change the tagline I think we should adress PostCSS of being "universal" - Anything can be added - there is no limit or anything that can't be done.

[2016-01-09 19:19] MoOx commented on #46
- "Choose your CSS flavor"
- "Choose your CSS superpowers" (and that's a nice reference, Sass should be flattered).
- "Make your own CSS flavor".

[2016-01-09 19:28] ai commented on #46
We discussed before, that we should focused on content. Does this tagline is a userful for our users content?

I think we should create a text only if it will be design purpose.

[2016-01-09 19:30] MoOx commented on #46
Good design make no sense with no real content. All good designers will tell you that.

I think it's really important to design the website by thinking to this things first.
A tagline is super important imo.

[2016-01-09 19:32] ai commented on #46
@MoOx why you think tagline is important? Let’s define tagline task and we will find the best one.

[2016-01-09 19:32] marcustisater commented on #46
Yeah but the tagline should really stick with the brand as well. We should not only think in terms of design.

:joy:

[2016-01-09 19:39] ai commented on #46
@marcustisater let’s focused on real task. What you want from tagline?

Without it we will create a “because every compnay need it” text without any benefits for us.

[2016-01-09 19:41] ai commented on #46
For example, some companies think that tagline should show a emotional content of brand. The non-ration idea and spirit. If we agree with it, we should find this idea and then make it into a text.

Other companies think that tagline is a short description of idea. In this case we should make something like that main description in `package.json`.

[2016-01-09 19:47] marcustisater commented on #46
Great point, I think we should focus on a tagline that is short and simple that's why I've personally liked "Transform you're CSS with JS Plugins" so much.

[2016-01-09 21:00] #32 closed

[2016-01-10 03:31] peterramsing commented on #46
Some thoughts that came to mind:

I'd be curious what the target audience is. Is this speaking to PostCSS plugin developers or CSS developers looking for PostCSS Plugins? I glanced at #26 and this sort of relates to this issue as well.

*Some ideas:*

## To the PostCSS Plugin Developers:
1. "A tool for transforming styles with JS plugins." (from `package.json`)
1. "Enhancing CSS with the power of

[2016-01-10 09:55] marcustisater commented on #46
Good thoughts @peterramsing. I'll suggest we come up with a few more taglines then make a poll if we can't come to an agreement together.

My favourite one so far:

[2016-01-10 10:07] ai commented on #46
@marcustisater let’s think rational first and use polls only if we will have few results with same rational results.

[2016-01-10 10:08] ai commented on #46
I prefer taglines like “Your CSS with the power of JavaScript” rather than like “Your CSS, Enhanced”. Because second one do not contains any explanation. Every tool can tell it about itself. As result, users will not belive in this text.

[2016-01-10 10:30] marcustisater commented on #46
That makes sense and I agree with you but does it attract users to PostCSS? People are using Sass now a days even though is made in Ruby and C++(LibSass).

I am thinking of how to adopt new new-users to PostCSS - they might be thinking "Oh, sounds difficult", "Javascript with CSS, no thank you". Does the tagline "Your CSS with the power of JavaScript" really attracts users to start looking into Po

[2016-01-10 10:35] marcustisater commented on #46
as @peterramsing mentioned, maybe something in between. **Both in one**

[2016-01-10 10:39] ai commented on #46
@marcustisater if you want to attract users, let’s make it as a main purpose for the tagline.

I think that it is immpossible to do something, if you didn’t understand why you need it.

This is why I afraid that we start this issue as cargo cult: we saw that big brands has tagline, so we try to find our. But it is a bad way. We should use rational way: understand what we need and how we can solve

[2016-01-10 10:40] ai commented on #46
Yeap, I think too that we should create tagline for both type of users. Especially because many companies write custom plugins.

[2016-01-10 10:41] ai commented on #46
My tagline version: “Basement to do anything with CSS”. It is a best explanation, but not from user perspective, so it is just a suggestion.

[2016-01-10 10:43] marcustisater commented on #46
I understand you completely, the best way is to aim at both of the target audience imo. @stephenway wrote some very good questions at #26

[2016-01-10 10:49] marcustisater commented on #40
I think the favicon looks great, really crisp and has good contrast in it but creating a separation between the original logo from the favicon is for me a little bit strange. What are you're thoughts @stephenway?

Thanks for the quick updates @quaritexa

[2016-01-10 11:52] mxstbr commented on #13
When #45 is reviewed and merged, this issue can be closed as the boilerplate setup is done for now. There will highly likely be small improvements over time, but the current state is enough for beginning to work on the actual site.

[2016-01-10 11:55] mxstbr commented on #20
Is this planned for launch? /cc @ai

[2016-01-10 12:04] ai commented on #20
Current AST Explorer can be embed only by iframe. Maybe we should just put a link.

[2016-01-10 12:04] mxstbr opened #48 "Sitemap"
Before we begin actually designing and building the website, we need a coarse overview of the modules/pages the website needs for `v1`. This is what I imagine currently:

[code]

[2016-01-10 12:06] mxstbr commented on #20
Agreed, that might be a good plan, and try to get it standalone for v1.1.

Pinging @fkling, do you think you can get it ready for v1 of postcss.com?

[2016-01-10 12:15] marcustisater commented on #13
Yup, sounds good. Nice work.

[2016-01-10 12:22] marcustisater commented on #48
This goes along with #26 - to create more issues, great point bringing this up. I've been meaning to do so myself.

I can sketch up a quick **sitemap** with my thoughts.

[2016-01-10 17:05] stephenway commented on #27
Sorry @marcustisater I mis-remembered the name of pixelapse on our chat, pixate is entirely different.

[2016-01-10 17:33] marcustisater commented on #27
Yeah figured, meant to say Pixelapse?

[2016-01-10 17:40] marcustisater commented on #20
It's planned to be released for postcss.com 1.0 but if it's not ready by then an hyperlink should be fine.

[2016-01-10 17:41] marcustisater commented on #20
Ticket #11

@fkling

[2016-01-10 18:23] fkling commented on #20
When do you want to release 1.0?

I will focus on an useful iframe integration first. Not sure yet how a a true standalone version would look like...

[2016-01-10 18:32] stephenway commented on #27
In an effort to keep us all in the same ecosystem with minimal setup, I've identified a workflow that we can easily setup to keep using Github for our design. I have updated the brand repo with this workflow to show how we can leverage SketchTool to export slices into the repo for each commit. This provides us with diffing per commit, and hosting for free.

[2016-01-10 18:33] stephenway commented on #27
We can use Zeplin for handoff once we have have an approved layout.

[2016-01-10 18:50] marcustisater commented on #20
iframe integration is great, we have no release date yet for 1.0 but hopefully before the end of Mar.

[2016-01-10 18:51] fkling commented on #20
Oh, OK. So I don't have to be finish this today :D

[2016-01-10 20:18] marcustisater commented on #19
Once we have established a nice sitemap for the documentation part, I can start creating issues that would need "content/documentation". Maybe we should use the GitHub wiki?

#48

[2016-01-10 20:46] mxstbr commented on #19
@marcustisater if we have the documentation in Markdown files in the repo, we can generate the website from that. If it's in the wiki, that isn't possible.

[2016-01-10 20:57] marcustisater commented on #19
Yeah that's a good point but I'd figured maybe the GitHub Wiki can be easier to contribute with and maybe we can add some overview planning on what's done and what's not in the wiki as well.

Do you think it's worth investigating into more if it's worth adding it in? I haven't used it at all to be honest...

[2016-01-10 20:59] mxstbr commented on #19
A wiki is nicer for collaboration, but we'd essentially have to copy & paste every change which is a pita. I don't think it's worth investigating tbh, there's a lot of documentation at postcss/postcss in Markdown already: https://github.com/postcss/postcss/tree/master/docs

[2016-01-10 21:00] marcustisater commented on #19
Yeah, you're right. I didn't think about that part... :blush:

[2016-01-10 21:02] MoOx commented on #19
That's a reason why I included cssnext website in cssnext repo itself: to avoid redundancy and make maintenance easier. And I am pretty happy with this choice.

[2016-01-11 04:35] stephenway commented on #40
@marcustisater We should move this issue to the brand repo and draw a smaller version of the official logo.

[2016-01-11 04:35] #40 closed

[2016-01-11 08:19] marcustisater opened #49 "Domain for (.io, .org)"
@ai can you hook me up with the .io and .org domain on gandi so I can set it up

[2016-01-11 08:21] MoOx commented on #49
Btw, .com is weird (means .commercial right?)
.org make more sense.
.io is more geek.

[2016-01-11 08:25] ai commented on #49
`.io` domain is not on Gandi. It is on Russian webnames.ru

Do we need this domain, because its registration date will end soon?

[2016-01-11 08:27] ai commented on #49
@marcustisater I add you to `.org`

[2016-01-11 08:33] marcustisater commented on #49
Yeah, `.com` stands for commercial. Let's do redirect to .org, I like it as well. What do you think @ai ?

Hmm, how much does it cost to renew it? Do we need `.io`?

[2016-01-11 08:35] marcustisater commented on #49
It's always nice to "eliminate" as many domain as possible for postcss so nobody else can steal it :wink:

[2016-01-11 16:52] azat-io commented on #49
```.io``` better than ```.org```

[2016-01-11 17:14] mxstbr commented on #49
Why?

[2016-01-11 17:24] marcustisater commented on #48
I will have one ready for Thursday - caught up with work :cry:

[2016-01-11 18:32] ai commented on #49
`.io` is worse, because it has wrong semantic. It is British Indian Ocean Territory. It is just a short-term trend.

[2016-01-12 11:16] okonet commented on #4
Here is my quick sketch. It needs more work, but the main idea is to show most common use-cases above the fold and also show some examples (or even integrate the REPL, not sure if this is useful on index page tho)

![desktop](https://cloud.githubusercontent.com/assets/11071/12262127/0a7442fa-b926-11e5-8531-9402d2a21fbb.png)

[2016-01-12 11:20] mxstbr commented on #4
Oooh I like that @okonet, nice!

I'm not sure the REPL makes sense on the index page, I think the "Featured Plugins" section in @stephenway's design makes more sense, since new users won't really know what to try out in there.

[2016-01-12 11:22] ai commented on #4
@deannnrie we should focused on content, so gid block with one sentence is not a best way.

[2016-01-12 11:24] okonet commented on #4
@mxstbr yes, I also think this way. I'll update it later.

BTW the logo in the masthead could have a subtle CSS glow animation, something like Apple's heart-beat on older Macs.

[2016-01-12 11:24] ai commented on #4
@okonet Looks good:

1. We should focused on content. Your image is not so big. But maybe let’s combine this image with a menu to win some vertical space?
2. The best way to explain PostCSS is a plugins list.
3. PostCSS is not a Sass to have simple playground. Maybe each plugin in Featured Plugins list can be opened to Playground?

[2016-01-12 11:25] okonet commented on #4
@ai yes, I agree on that. Will update a bit later

[2016-01-12 11:29] Promhize commented on #4
Exactly what I was about to say. If I may chip in, I think if the image has no descriptive purpose, it shouldn't be included. I even think there's no reason to have any image on the comp.

That better represents what postcss actually is.

Just my honest opinion.

I saw "the Swiss army knife of css development"  on tutsplus. And i thought that should be paired with "limitless possibilities with Jav

[2016-01-12 11:29] ai commented on #4
Ouh, I see so awesome visual effect with this background.

When user will hover on white PostCSS logo, we can highlight it (blur filter effect) and start rotate two wheels (with letters and signs of the zodiac) in different directions (just cut them from the image to separated layouts and use `rotate` animation).

[2016-01-12 11:32] mxstbr commented on #4
@ai oh wow I now see it too, that would look amazing!

[2016-01-12 11:33] ai commented on #4
@Promhize but do not forget thet design should contain not only a content, but also a emotions.

The question is about compromise. Babel site have no content on first screen (without scrolling) and it is a big mistake. But we can use 300-500px of vertical space for some branding image, because it shows that PostCSS has big community (because it can spent time for this styling effects).

[2016-01-12 11:43] ai commented on #4
Some text examples for “What PostCSS does exactly” section:

* **Solve global CSS problem**<br>With PostCSS plugins from CSS Modules you will be free from any selectors conflict automatically. Local reset by postcss-autoreset and `all: initial` polyfill from cssnext make your CSS more boilet bullet. [Try it in action]
* **Use future CSS, today** If you are use Autoprefixer, you already use PostCSS

[2016-01-12 11:55] ai commented on #4
Also every plugin in “What PostCSS does exactly” section has a good icon.

[2016-01-12 17:09] ai opened #50 "Rename project to .org?"
I thought that we all decided to use `postcss.org`, because it is not *com*mertial project (unfortunately) and we are not members of [British Indian Ocean Territory](https://en.wikipedia.org/wiki/.io). So, maybe we need to rename repo?

[2016-01-12 17:13] mxstbr commented on #50
:+1:

[2016-01-12 18:06] okonet commented on #4
Here is the follow up:

1. Decreased the height of the header by putting the navigation into the masthead section. My idea here is then you start scrolling, the logo should zoom out and transition into the center of the navigation.
1. Made the background image more subtle, so it doesn't distract from the text.
1. Added GitHub Star button (I think this is very recogniziable for OSS projects)
1. Tri

[2016-01-12 18:17] mxstbr commented on #4
I like the new nav ([*cough*](http://mxstbr.com)) and copy. The logo is a
bit overpowering though...

I'm still not convinced having the REPL there is useful, it just looks like
Sass. It might work with a better default example that showcases cssnext,
autoprefixer etc.

On Tue, 12 Jan 2016 19:07 Andrey Okonetchnikov <notifications@github.com>
wrote:

[2016-01-12 18:42] ai commented on #4
@okonet Looks awesome!

1. I always like logo in the center. Of course, it will be har to always keep menu symmetrically. But it looks very fresh and brutal.
2. Yeap, GitHub start widget is good adition. It gives us more starts and show that it is open source project “in a pictures”.
3. We can’t have so simple “Try it in action” section, because there is no one PostCSS. Maybe we should have a [Try

[2016-01-12 18:45] simonsmith commented on #4
@okonet Looks great!

[2016-01-12 18:50] ai commented on #4
Also I very want to share our mockups in Twitter. But we need to fix Companies section first.

Current list:

* Google
* WordPress
* Taobao or Alibaba
* webpack

Should we open a issue to collect all our users?

[2016-01-12 18:56] stephenway commented on #4
For purposes of this thread, that should be enough for the mockup, but that sounds like a good idea @ai

[2016-01-12 19:29] stephenway commented on #4
Update to my version. More content, more complete. I think the missing element is visuals, driving a personal connection to the users. As we define the content strategy I think this will start to show because people see value in differentiation and rich media. I did not include any code examples because I agree that the plugins are where new users will see the value in using PostCSS.

With the bra

[2016-01-12 19:37] ai commented on #4
@stephenway

1. Community photos in footer is good. Technologies really should be about human. Also it will show PostCSS popularity “in a picture”.
2. I prefer @okonet header, because it medieval engravings is more close to PostCSS spirit. Also they are much fresh.
2. Chat and Twitter links should be upper, because they are more important.
3. We can add Live examples. But not a global one, just ad

[2016-01-12 20:31] stephenway commented on #4
@ai

1. If you have any more photos that might help from conferences, etc. Or I could come up with a collage of what I can find so far.
2. So we have [this one](http://40.media.tumblr.com/ed518282d2f36386c3bbd86f02507186/tumblr_mwypb3gbeh1rtynt1o1_r1_1280.jpg) there is also the [philosopher's stone](http://embodyingcyberspace.com/wp-content/uploads/2013/02/Philosophers-stone2.jpg), and the line qu

[2016-01-12 20:38] ai commented on #4
@stephenway

1. We should make chat link as a text. Like “Support”. It is hard to understand what you will get under chat icon.
2. Like widget is better, because it brings us more stars and show open source nature more simplier.
3. Why we need this brush strokes masks?
4. There is no difference between text fields and buttons.
5. Yeap, this Basilicae Pholosophicae engraving is not about alchemy. B

[2016-01-12 21:11] stephenway commented on #4
@ai

1. Changed to "Support", I agree that does communicate better.
2. Added star button with the statistic, same as the babel site. Also moved the twitter link down with it.
3. I thought the brush strokes added personality, but I have hidden them in this iteration so you can see the difference.
4. Solid buttons now
5. While it is factual and more inline with alchemy, it doesn't seem to stand out

[2016-01-12 21:25] deannnrie commented on #4
Hi folks,I'm working on the second version, look my wireframe

![postcss](https://cloud.githubusercontent.com/assets/803587/12277413/2de7cb24-b98c-11e5-8491-1b22b1df92ae.png)

[2016-01-12 21:28] ai commented on #4
@stephenway looks nice :)

[2016-01-12 21:30] ai commented on #4
@deannnrie I think design should be always based on real data. You should always put real content on first iteration, because your decision must be based on content.

[2016-01-12 21:35] deannnrie commented on #4
@ai I will make soon.

[2016-01-12 21:43] stephenway commented on #4
@deannnrie Also, the final design should based on the color version of the logo. It's not an established brand yet, so we need to build it up in it's unique original version. Thanks for jumping in with us.

@ai @marcustisater What is the timeline for this project? I can continue with a mobile version and a secondary page layout or should we move on a decision so we can assign smaller tasks to thos

[2016-01-12 21:47] ai commented on #4
@stephenway Right now I wait for third iteration of @okonet design to compare your mockup styles.

But we have much more important problem. We need to select different font in logotype, because Franklin Gothic Book is not a free font, so it can’t be used in open source project.

[2016-01-12 21:54] deannnrie commented on #4
@stephenway I understand. I still do not understand the contents of where to get it :)

[2016-01-12 21:56] ai commented on #4
@deannnrie this is why design is not about images ;). If you can’t get content, developers will not be able too, and your shinny design will look bad in real world.

[2016-01-12 23:43] okonet commented on #4
Here is my update that includes:

1. More "power" in mastehead
1. Removed REPL section
1. Added "Installation" section. I even think there is enough place for more highlights.
1. Proper logos for "Companies using PostCSS" section
1. Better top navigation with icons

![desktop](https://cloud.githubusercontent.com/assets/11071/12280460/58d35874-b98e-11e5-846f-c06c042795a1.png)

[2016-01-12 23:57] ai commented on #4
@okonet

1. Could you add button “Try it out” under every item in “Can be done with PostCSS” section? It will open a REPL section with only this plugins.
2. New mastehead looks awesome (don’™ remind me about me words about content based design :D ).
3. Icons in header is useful to make attention to Support (we will replace it to Support, because we use Gitter). Also they good to keep some sort of

[2016-01-12 23:59] ai commented on #4
@stephenway @okonet I really want to say thank you. You both make two iteration today.

I will be honest, I prefer @okonet style because it close to PostCSS style. But I think competion is not a good in open source. technically you both have a good ideas. For example, I think community photos from @jonathantneal sketch is very useful. Maybe you can cooperate somehow?

[2016-01-13 00:00] ai commented on #4
@okonet also what font do you use in mastehead?

[2016-01-13 00:04] ai commented on #4
@okonet I just found that items in “Can be done with PostCSS” section has a link in title. You planned to open REPL after a click on title? It saves a lot of space and save us from repeating. But I afraid it is not so obviously. Especially, because we should force users to try REPL for every plugins set :).

[2016-01-13 01:45] stephenway commented on #4
@ai Always happy to help!

Open source and design are very different in nature, especially early on when it comes to layout. The design process can be a collaborative process, but when it is not, it's best to let each designer follow their vision to see it through. Now that we have a design that is established we can finish content strategy and figure out what the next tasks are to design.

@okone

[2016-01-13 06:46] mxstbr commented on #4
@okonet love the latest, your style is great. The offset search bar is
nice, the masthead looks powerful and the whole thing is coherent. And
while the Installation section needs tabs for different build systems, I'd
love to have that there.

I'm not sure about the NavBar and the titles-are-links approach to the
plugins. I don't agree with @ai that adding a button under each plugin is
the way to g

[2016-01-13 07:50] marcustisater commented on #4
Sorry, it's been a couple of busy days of work for me. I will try summaries my feedback on these submissions as well. Good job everyone, really great to see things going!

[2016-01-13 07:51] marcustisater commented on #50
Indeed, I can fix that.

[2016-01-13 07:53] marcustisater commented on #13
Closed?

[2016-01-13 07:53] #13 closed

[2016-01-13 07:58] mxstbr commented on #13
Oh yeah sorry, forgot to close the Issue!

[2016-01-13 14:32] jeddy3 opened #51 "Lint CSS code with stylelint (as part of the boilerplate)?"
The [boilerplate issue](https://github.com/postcss/postcss.com/issues/13) mentions adding structured CSS.

Do you want me to submit a PR that adds linting to each component's CSS, using [`stylelint`](https://github.com/stylelint/stylelint) and the [`stylelint-config-standard`](https://github.com/stylelint/stylelint-config-standard)? Although the config won't help enforce the use of CSS Modules, it

[2016-01-13 15:22] mxstbr commented on #51
Yeah sure, sgtm!

[2016-01-13 16:14] MoOx commented on #51
Good idea

[2016-01-13 17:24] jeddy3 opened #53 "Use postcss-cssnext in the boilerplate?"
This is a quick follow-on to @MoOx's [comment](https://github.com/postcss/postcss.com/issues/13#issuecomment-169463835) in the boilerplate issue and the [`stylelint` PR](https://github.com/postcss/postcss.com/pull/52).

Are you be willing to accept a PR that replaces the [current](https://github.com/postcss/postcss.com/blob/master/package.json#L41) individual postcss plugins, of `postcss-custom-me

[2016-01-13 17:46] mxstbr commented on #53
Yes, I'd love that! I haven't done anything with the config yet, but we should really showcase what PostCSS is capable of with this website! Please submit a PR!

[2016-01-13 18:10] okonet commented on #4
I've done one more iteration:

1. Added explanation section (ala Babel) to make it clear how it works. I think it is also important to communicate.
1. To compensate of lost space I removed the tagline from masthead. I think it was too much anyway.
1. Added community section (we can load userpics directly from GitHub — https://github.com/postcss/postcss/graphs/contributors
1. Experimented with font

[2016-01-13 18:20] MoOx commented on #53
Should do the same in the default boilerplate for cssnext and stylelint.

[2016-01-13 18:43] peterramsing commented on #4
:+1:

[2016-01-13 18:51] jeddy3 commented on #53
Sounds like a plan :)

[2016-01-13 18:51] stephenway commented on #4
@okonet How are you addressing the new logo in your design?

[2016-01-13 19:07] ai commented on #4
@okonet

1. Alchemy font is hard to read, but it was qute experiment.
2. Community photos is not so important, so we can put it under companies and maybe “Call to action” buttons.
3. It is hard to show one example of PostCSS. It has different syntax and tasks. It can be a one source to explain it. What do you think about just open REPL from one item in main usage examples? Or we can show all these

[2016-01-13 19:30] okonet commented on #4
@ai Regarding 3. — my idea was not even make it interactive, but just show a principle: CSS (Scss, Less) in → PostCSS → CSS out. Also I wanted to draw a logical link between PostCSS and plugins.

I changed 1 and 2. Take a look.

@stephenway until https://github.com/postcss/brand/issues/9 is resolved, I don't think this is the issue. But I'm open to it. What's your proposal?

![desktop](https://clo

[2016-01-13 19:32] okonet commented on #4
@ai

Yes, that's the idea: by clicking on each example, we should navigate to the REPL page with the pre-loaded examples.

[2016-01-13 20:18] marcustisater commented on #4
Here is my take from @okonet mockup

**Things to be overlooked**
* I don't like the masthead to be honest, the background-image looks something taken out of the Game of Thrones series and the logo is "connected" to the background-image, that dosen't speak to me.
* The navbar has too much opacity and should be reconsidered not being on top of the background-image, the colors should also follow the

[2016-01-13 20:19] marcustisater commented on #53
Yup, I agree as well. Great pointers @jeddy3

[2016-01-13 20:20] #51 closed

[2016-01-13 20:32] mxstbr commented on #4
I don't agree, I think the masthead looks amazing. Imagine the wheels turning inside each other, with the logo in the middle, like @ai posted above.

:+1: agreed.

The title is always what the plugin does, not the name of the plugin. What does cssnano do? It minifies your CSS. :-) The logo is the correct one.

[2016-01-13 20:45] marcustisater commented on #50
Domain is fixed.

[2016-01-13 20:45] #50 closed

[2016-01-13 20:46] marcustisater commented on #49
domain is now set to .org instead of .com awaiting approval for https://github.com/postcss/postcss.org/pull/54

[2016-01-13 20:46] #49 closed

[2016-01-13 20:46] mxstbr commented on #49
Already merged. :+1:

[2016-01-13 21:10] marcustisater commented on #46
This is a very difficult one and it's high prioritized issue to get moving, try promote this @ai if possible

[2016-01-13 21:18] ai commented on #46
This task is not high important for me, because I think we should always see a real usage of any design item.

So it is too hard to create a tagline without a place, when it will be used.

So, when you plan to use it?

[2016-01-13 21:26] marcustisater commented on #46
Sure, that's fair. I was just thinking to actually try set a tagline for designs to work with.

[2016-01-13 21:27] ai commented on #4
@marcustisater

1. Sorry, but this Game of Trones style (Middle Ages) is a style of PostCSS. It is good, because it is fresh looks and separes us from many other modern JS tools. It is bad when your site looks too similar to Babel.
2. Do not look into text too hard. It is only mockups. Of course, we should try to use real content. But it exactly text is not important.
3. But you are right, PostCSS

[2016-01-13 21:34] ai commented on #4
@okonet I like a visual part of current REPL, but it has two important issue:

1. Click behavior is too unclear. Some users could think that it is just a plugin page.
2. We should force users to see that PostCSS is not a one way. That it can be very different.

Maybe really we should make a separated section from every example and put opened REPL there. Main purpose of first page is a explain Post

[2016-01-13 22:16] MoOx commented on #4
My 2 cents: you are trying to do too many things in a single issue. You should iterate via small PRs or not gonna have a website until weeks/months.

[2016-01-14 07:44] marcustisater commented on #4
The purpose of this issue was to create a first draft mockup and then make it into an full visual design with small PRs.

@stephenway - What is the plan from #27 ?

[2016-01-14 16:22] #53 closed

[2016-01-14 20:01] marcustisater commented on #48
This is my very first thoughts about the sitemap structure, need some help and feedback.

![first-draft](https://cloud.githubusercontent.com/assets/2952332/12335871/adf62e7a-bb01-11e5-8f47-8224c89fbfa9.png)

I have this setup on mindmeister. Here is a public url to help contribute to it. https://mm.tt/632990172?t=C2Qo6uvzTk

[2016-01-14 20:03] marcustisater commented on #48
If we really can get together an completed sitemap it can be easier to split up issues for content that we need.

[2016-01-14 20:05] mxstbr commented on #48
Is this launch only?

[2016-01-14 20:06] marcustisater commented on #48
Sorry? This sitemap needs improvement, it should be ready before launch, yes.

[2016-01-14 20:07] mxstbr commented on #48
I meant, should we only add pages that have to be ready for launch? Otherwise the Wizard thing is missing under Plugins.

[2016-01-14 20:07] marcustisater commented on #48
I gotcha, sorry.

Yes, launch only.

[2016-01-14 20:11] marcustisater commented on #48
cc @ai, @stephenway, @MoOx would love you're feedback and help on this one - others are welcome to edit this sitemap as well of course :smile:

[2016-01-14 20:48] ai commented on #48
I think `Writing a Plugin` should be docs. Because we have also custom plugins, which will not be part of Plugin catalog.

[2016-01-14 20:49] ai commented on #48
We need a API in Documentation or Learn. Because this API is useful not only for plugin developers, but also for runner developers (like `gulp-postcss`) or non-plugin tools like CSS concat.

[2016-01-15 00:56] stephenway commented on #48
I could see adding a page to formalize the process of submitting plugins, or for that matter every page has a link to the equivalent content file on github so they can edit it there and create a pull request.

[2016-01-15 07:57] marcustisater commented on #48
Thanks for quick feedback, will update into a more full version to discuss over.

[2016-01-15 22:38] marcustisater commented on #48
quick update

<img width="811" alt="sitemap-2" src="https://cloud.githubusercontent.com/assets/2952332/12367281/1dce75b0-bbe1-11e5-9643-f0ecac530da3.png">

[2016-01-15 22:41] marcustisater commented on #4
@okonet if you can come up with some changes from the previous comments and the plugin section that @ai mentioned - I think we are ready to move on. Agreed or do we need more time?

No rush, thanks!

[2016-01-15 22:41] ai commented on #4
@okonet here is my new thoughts:

1. Maybe we can set links in menu to white (`#fff`) to increase a readability. I think it will be enough.
2. I am thinking that plugin search is not good for “call to action” idea. Page should have only main call to action. The ideal case for us:
   1. user came to page
   2. see a design and masthead and understand that we have too much resources to draw it
   3.

[2016-01-15 22:43] ai commented on #48
@marcustisater looks good

[2016-01-15 22:46] okonet commented on #4
I'll try to update it this weekend.

[2016-01-16 10:54] marcustisater opened #56 "[Landing Page] Plugins"
From the sitemap ( #48 ) - we have decide that there is going to be a page of PostCSS Plugins to pick from. I am thinking that the landing page would include the Plugin Search( #17 ) and then there would be a list similar as a sidebar navigation menu to group PostCSS plugins as a categories.

**What do we need?**
1. Landing page mockup of how the plugins page would look like including the search a

[2016-01-16 10:55] marcustisater commented on #56
@stephenway when you have figured out the #27 - we can get this issue started with PRs open.

[2016-01-16 10:56] ai commented on #56
@mxstbr it good with making a plugin catalog.

But we need make it automatically with npmseach.com

[2016-01-16 10:56] ai commented on #56
Also let’s promote plugins pack in search. We can force them to use some specail keyword in `package.json`.

[2016-01-16 11:02] marcustisater opened #57 "[Landing Page] Blog"
We have discussed creating a "Blog" section for the website including a Twitter feed of some kind having users to look up the latest news about PostCSS and it's community.

![skarmavbild 2016-01-16 kl 12 02 36](https://cloud.githubusercontent.com/assets/2952332/12372038/1085835e-bc49-11e5-83c7-283d0ded6972.png)

[2016-01-16 11:02] marcustisater commented on #57
![skarmavbild 2016-01-16 kl 12 02 36](https://cloud.githubusercontent.com/assets/2952332/12372038/1085835e-bc49-11e5-83c7-283d0ded6972.png)

[2016-01-16 11:04] marcustisater commented on #15
I can help get this going as soon the established theme is set from #4

[2016-01-16 11:13] marcustisater opened #58 "[Page/Section] FAQ"
We need some content and suggestions for the FAQ(Frequently Asked Questions) section.

Example:

**Can I still use Sass?**
_Yes, you can still compile....etc_

**Where can I find the API documentation?**
_You can find it at ....._

Please read through our [contributing guidelines](https://github.com/postcss/postcss.org/blob/master/docs/content.md) before you start.

https://github.com/postcss/post

[2016-01-16 11:14] marcustisater commented on #26
We need a README file for how to contribute with content.

[2016-01-16 11:18] marcustisater commented on #19
All that we need is a good README file that explains how to contribute with content for the website.

[2016-01-16 11:26] marcustisater commented on #48
Thanks, I guess this would be a quick start to create issues from what content we need on the website. I will leave this issue open.

Feel free to add more pages or modifications if wanted.

[2016-01-16 12:22] marcustisater opened #60 "[meta] Introduction"
Page for introducing PostCSS and what you can learn from this section.

#81
#82

[2016-01-16 12:24] marcustisater opened #61 "[Landing Page] Get Started"
There is going to be a landing page for visitors to "Getting Started" with PostCSS.

[2016-01-16 12:26] marcustisater opened #62 "[Page] Resources"
This is a child page of #64

 This page will contain useful resources such as

* PostCSS Articles
* PostCSS Video tutorials like https://www.youtube.com/watch?v=bJShpMC7xFM from @stolinski

**Please** read through our [contributing guidelines](https://github.com/postcss/postcss.org/blob/master/docs/content.md) before you start.

https://github.com/postcss/postcss.org/blob/master/content/learn/reso

[2016-01-16 12:29] marcustisater opened #63 "[Landing Page] Get involved"
We need a introduction landing page for how you can contribute to the PostCSS community.

**parent of**
#72
#66

[2016-01-16 12:30] marcustisater opened #64 "[Landing Page] Learn"
Landing page for new visitors to learn about what PostCSS is and what it has to offer.

[2016-01-16 12:31] marcustisater opened #65 "[Landing Page] Documentation"
We need a nice short introduction of what the documentation page is all about.

**parent of**
#71
#70
#69
#68
#67

[2016-01-16 12:32] ai commented on #62
https://github.com/postcss/postcss#articles

[2016-01-16 12:37] marcustisater opened #66 "[Page] Contribute"
Page for how contributors can help out in the community.

**Key points**
* PostCSS Repository
* PostCSS.org Repository
* How to report bugs?
* Contributing Guidelines

[2016-01-16 12:42] marcustisater commented on #4
Sounds good, then we have to move on to the other pages and start with the #15

[2016-01-16 12:59] marcustisater opened #67 "[Page/Section] Create PostCSS Plugin"
Page including how you can create you're own PostCSS Plugin. I would like this page to get sort of like a timeline from start to finish.

**Timeline**
- Tutorial (How to start?)
- Boilerplate
- API
- Tools(you might need)
- Submit plugin(tell the world!)

https://github.com/postcss/postcss/blob/master/docs/writing-a-plugin.md
### Mindmap

![skarmavbild 2016-01-16 kl 13 58 06](https://cloud.githubu

[2016-01-16 13:00] marcustisater opened #68 "[Page] Syntax"
Page about PostCSS Syntax most likely to be copied from -https://github.com/postcss/postcss/blob/master/docs/syntax.md

**Please** read through our [contributing guidelines](https://github.com/postcss/postcss.org/blob/master/docs/content.md) before you start.

https://github.com/postcss/postcss.org/blob/master/content/docs/syntax.md

[2016-01-16 13:00] marcustisater opened #69 "[Page/Section] Sourcemaps"
Page/section regarding Sourcemapping - can we copy it straight from https://github.com/postcss/postcss/blob/master/docs/source-maps.md ?

**Please** read through our [contributing guidelines](https://github.com/postcss/postcss.org/blob/master/docs/content.md) before you start.

https://github.com/postcss/postcss.org/blob/master/content/docs/sourcemaps.md

[2016-01-16 13:01] marcustisater opened #70 "[Page] Guidelines"
Page for guidelines - copy from https://github.com/postcss/postcss/tree/master/docs/guidelines

[2016-01-16 13:01] marcustisater opened #71 "[Page] API"
We need a page for visitors to look up API - We have to be smart here because there is a lot of documentation so we have to break it down into an anchor tag page.

API: https://github.com/postcss/postcss/blob/master/docs/api.md

**Please** read through our [contributing guidelines](https://github.com/postcss/postcss.org/blob/master/docs/content.md) before you start.

https://github.com/postcss/pos

[2016-01-16 13:16] marcustisater opened #72 "[Page/Section] Submit Articles or Videos"
We need a page for visitors to submit videos & articles about PostCSS to the website.
1. Create a Google form or similar?
2. Forward to GitHub issues

[2016-01-16 14:07] marcustisater commented on #19
I can set one up.

[2016-01-16 16:52] marcustisater commented on #19
Feel free to edit if needed.

#73

[2016-01-16 17:31] jeddy3 opened #74 "Performance budget"
Inline with @MoOx [suggestion](https://github.com/postcss/postcss.org/issues/4#issuecomment-171454464) to break things out into smaller bite-sized issues, I wanted to pose the question here; should a [performance budget](https://timkadlec.com/2013/01/setting-a-performance-budget/) be set?

If so, I think there are two things that should be discuss, and decide upon, in this issue:

1. What is the b

[2016-01-16 17:40] mxstbr commented on #74
We might need one, not a bad idea.

Re your questions:

1) We can always use FontFaceObserver to load web fonts after everything is rendered and usable if we were so inclined, but just using web save fonts is a nicer option.

2) Yeah, we will need some fallback for when the image hasn't loaded yet. Some sort of CSS gradient maybe?

3) The client side JavaScript file (`statinamic-client.js`) is 246

[2016-01-16 18:29] marcustisater commented on #74
We definitely need to set a Performance Budget and look over the performance. I think we can start once we have a established theme from #4 to overlook what we have to deal with.

2. Yup, lazyload and fallback should be enough or CDN maybe? :wink:

3. I think he included the JSON files in his calculations, unesercery tweet and should be ignored... :angry:

Great article btw, thanks for the read @j

[2016-01-16 19:01] ai commented on #74
File size is not important, requests count is a big deal.

So, if we have 300 KB for JS and 300 KB for CSS with all images inlined, we are good.

I can take care of load time optimization after we will make first iteration. I like this things :-D

[2016-01-16 20:41] MoOx opened #76 ".com do not redirect to .org"
I just get a 404 github.

[2016-01-16 20:42] MoOx opened #77 "homepage have a "refresh" issue"
This is just this issue https://github.com/MoOx/statinamic/issues/61
I will handle this.

[2016-01-16 20:43] marcustisater commented on #76
Yup, correct. I need to fix the web forwarding on Gandi. Good catch...

[2016-01-16 20:43] marcustisater commented on #77
Yeah, I noticed that...

Great!

[2016-01-16 20:50] marcustisater opened #78 "Question: Content folder"
Quick question;

I am creating some pages for the website so it's easier for people to contribute with content when I can refer an markdown file in the issue. My question is - can we add more directories in the [content folder](https://github.com/postcss/postcss.org/tree/master/content) to make it more organized or should I just throw all the markdown files in there?

[2016-01-16 20:50] marcustisater commented on #78
ping @mxstbr

[2016-01-16 20:51] mxstbr commented on #78
Currently doing this, give me five minutes!

[2016-01-16 20:52] marcustisater commented on #78
Thanks!

Does every markdown file have the option to choose a layout template like Page, Landing-page etc?...

[2016-01-16 20:53] #30 closed

[2016-01-16 20:53] mxstbr commented on #78
Yep, might have different templates for different sections of the content.

[2016-01-16 20:53] marcustisater commented on #19
breaking this down into more issues, my fault.

[2016-01-16 20:53] #19 closed

[2016-01-16 20:54] marcustisater commented on #62
@MoOx from ticket #30

[2016-01-16 20:54] marcustisater commented on #78
True, ok great.

[2016-01-16 21:01] marcustisater commented on #78
This should be enough for me to create more from. Thank you.

[2016-01-16 21:01] #78 closed

[2016-01-16 21:02] jeddy3 commented on #74
Sounds like we have a budget :)

Shall I close this issue, and create a separate issue for the typography (to garner feedback from the designers etc) and another for ideas about load-time optimisations (including optimising the loading of graphics)?

(I won't create one for the the client-side script size as that's been dealt with here - thanks @mxstbr and @marcustisater. I should of checked it my

[2016-01-16 21:04] marcustisater commented on #74
Sounds perfect, go for it.

[2016-01-16 21:16] marcustisater commented on #48
updated again

![sitemap-3](https://cloud.githubusercontent.com/assets/2952332/12374542/b53b4ba4-bc9e-11e5-8852-db1d6afedec6.png)

[2016-01-16 21:38] marcustisater commented on #76
It should be working soon.

[2016-01-17 05:15] MoOx commented on #76
Working now.

[2016-01-17 05:15] #76 closed

[2016-01-17 15:16] marcustisater commented on #58
Please read through our contributing guidelines(https://github.com/postcss/postcss.org/blob/master/docs/content.md) before.

Start writing suggestions here - https://github.com/postcss/postcss.org/blob/master/content/learn/introduction/faq.md

[2016-01-17 15:18] marcustisater commented on #57
What do you guys think of this? My biggest fear is that this wouldn't get very updated and become a very "dead part" of the website :fearful:

[2016-01-17 15:26] marcustisater opened #81 "[Page/Section] What is PostCSS?"
We need a page explaining what PostCSS is and what it can do for you.

**Please** read through our [contributing guidelines](https://github.com/postcss/postcss.org/blob/master/docs/content.md) before you start.

https://github.com/postcss/postcss.org/blob/master/content/learn/introduction/what-is-postcss.md

[2016-01-17 15:29] marcustisater opened #82 "[Page/Section] Why PostCSS?"
We need another page explaining why you should use PostCSS - convincing the visitors.

**Please** read through our [contributing guidelines](https://github.com/postcss/postcss.org/blob/master/docs/content.md) before you start.

https://github.com/postcss/postcss.org/blob/master/content/learn/introduction/why-postcss.md

[2016-01-17 15:38] #60 closed

[2016-01-17 15:46] marcustisater opened #83 "Content Meta"
From sitemap in issue form that needs content.

## Learn
- Introduction
-- [What is PostCSS](https://github.com/postcss/postcss.org/issues/81)
-- [Why PostCSS](https://github.com/postcss/postcss.org/issues/82)
-- [FAQ](https://github.com/postcss/postcss.org/issues/58)
- Resources
-- Articles
-- Videos

## Get Started
- Adding PostCSS
- Adding PostCSS Plugins

## Documentation
- Create PostCSS Plug

[2016-01-17 15:48] mxstbr commented on #57
I agree, I don't think it's necessary, but maybe we could post releases and stuff there. What do you think @ai?

[2016-01-17 15:51] marcustisater opened #84 "[Page/Section] Articles"
We need a bunch of really good articles about PostCSS to share on the website.

**Please** read through our [contributing guidelines](https://github.com/postcss/postcss.org/blob/master/docs/content.md) before you start.

https://github.com/postcss/postcss.org/blob/master/content/learn/resources/articles.md

[2016-01-17 15:52] marcustisater opened #85 "[Page/Section] Videos"
It would be cool to share some video tutorials or conference talks about PostCSS.

**Please** read through our [contributing guidelines](https://github.com/postcss/postcss.org/blob/master/docs/content.md) before you start.

https://github.com/postcss/postcss.org/blob/master/content/learn/resources/videos.md

[2016-01-17 15:52] marcustisater commented on #62
breaking this up in two issues again, sorry...

#83
#84

[2016-01-17 15:53] marcustisater commented on #84
@ai

[2016-01-17 15:54] #62 closed

[2016-01-17 15:55] marcustisater commented on #84
@MoOx from ticket #19

[2016-01-17 15:56] jeddy3 opened #86 "Typography"
Continuing to break [issues](https://github.com/postcss/postcss.org/issues/74) into smaller bite-sized chunks...

This issue is to garner everyone's—especially the designers—thoughts on the typography for the website.

I think the main consideration is whether to use [System UI](https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/), [web-safe](http://www.mightymeta.co.uk

[2016-01-17 15:59] marcustisater opened #87 "[Page/Section] Adding PostCSS"
We need a section of how you can adapt PostCSS to you're workflow, all the way from adding it with Gulp, Grunt to Webpack or CLI....

**Please** read through our [contributing guidelines](https://github.com/postcss/postcss.org/blob/master/docs/content.md) before you start.

https://github.com/postcss/postcss.org/blob/master/content/get-started/adding-postcss.md

[2016-01-17 16:00] mxstbr commented on #86
@MoOx you're going to like this disclaimer. :wink:

Thanks for opening this issue, I'll repost my opinion here for easier reading:

[2016-01-17 16:02] marcustisater opened #88 "[Page/Section] Adding PostCSS Plugins"
We also need a page/section describing how you can add plugins to PostCSS.

**Please** read through our [contributing guidelines](https://github.com/postcss/postcss.org/blob/master/docs/content.md) before you start.

https://github.com/postcss/postcss.org/blob/master/content/get-started/adding-plugins.md

[2016-01-17 16:08] jeddy3 opened #89 "Load-time optimisations"
Continuing to break issues into smaller bite-sized chunks... this issue is just about load-time optimisations.

@ai likes these optimisations and [has said](https://github.com/postcss/postcss.org/issues/74#issuecomment-172246663) he'd tackle it after the first iteration is done :)

Perhaps to help him out, everyone can jot down things they think could be included in that process. Here's a couple t

[2016-01-17 16:08] #74 closed

[2016-01-17 16:08] jeddy3 commented on #74
Done :)

[2016-01-17 16:11] marcustisater commented on #70
breaking this into two issues instead :disappointed:

[2016-01-17 16:12] #70 closed

[2016-01-17 16:13] marcustisater opened #90 "[Page/Section] Runner"
section about runner - most likely to be copied from https://github.com/postcss/postcss/blob/master/docs/guidelines/runner.md

**Please** read through our [contributing guidelines](https://github.com/postcss/postcss.org/blob/master/docs/content.md) before you start.

https://github.com/postcss/postcss.org/blob/master/content/docs/guidelines/runners.md

[2016-01-17 16:16] marcustisater opened #91 "[Page/Section] Plugin"
section about plugin most likely to be copied from https://github.com/postcss/postcss/blob/master/docs/guidelines/plugin.md

**Please** read through our [contributing guidelines](https://github.com/postcss/postcss.org/blob/master/docs/content.md) before you start.

https://github.com/postcss/postcss.org/blob/master/content/docs/guidelines/plugins.md

[2016-01-17 17:10] marcustisater commented on #66
breaking this up into two issues.

[2016-01-17 17:15] marcustisater opened #92 "[Page/Section] Contribute to PostCSS.org"
Simple text that will let people know that you can contribute to postcss.org or submit bug reports.

[2016-01-17 17:16] marcustisater opened #93 "[Page/Section] Contribute to PostCSS"
Explain how a visitor can contribute to PostCSS

[2016-01-17 17:16] #66 closed

[2016-01-17 17:17] marcustisater commented on #48
I broke this issue into #83

[2016-01-17 17:17] #48 closed

[2016-01-17 17:20] ai commented on #89
Yeap, main idea of optimization is to inline all critical things (fonts, content/small images) and lazy load for all non critical things images.

postcss-inline-svg is good for inline images. Cssnano runs SVGO for all inlined images.

[2016-01-17 17:23] ai commented on #89
But what we will do with browser caches, because we have no access to web server config in GH Pages?

Maybe we should use some CDN proxy for cache headers?

[2016-01-17 17:33] marcustisater commented on #89
Quick notes:

* Sprites for the images or icon font if designers has thoughts of implementing that
* 2. [mozjpeg](https://github.com/mozilla/mozjpeg ) might be worth looking into. What do you think @jeddy3 ?
* Is it worth looking into a CDN @jeddy3 ?

[2016-01-17 18:03] ai commented on #83
Migration Guide should not be part of Guidelines. Guidelines is a rules for developers.

[2016-01-17 18:04] ai commented on #83
I thinkk Migration Guide should be in Get Started.

[2016-01-17 18:05] ai commented on #86
If we have oly one custom font, it will be better to just inline it to CSS. We should reduce requests, not a size.

Especially, because font changing is not good for reading process ;).

[2016-01-17 18:17] marcustisater commented on #83
Alright, good point. Updated.

[2016-01-17 19:19] MoOx commented on #86
For my concern, I think typos for heading might be "sweet", but optional.
I am considering adding more good practices in statinamic boilerplate, so I will follow this issue :)

[2016-01-17 19:22] MoOx commented on #89
I think a smart lazyloading react component can be easy to implement, by adding something in componentDidMount + a listener to scroll/resize. That said, to avoid the ugly "lazyload" effect (eg: image that appear after you scroll), it might be interesting to load images just before they came in the viewport.

[2016-01-17 19:27] ai commented on #89
Loading on scroll is good for big sites with long lists.

In your case we should just split images to two parts: critical and non-critical. And load all non-critical just afrer `onload` event.

On main page non-critical JS will be for REPL, because PostCSS is not big (because of `source-map` package). Alll other JS and CSS can be packed into one `main.js` and `main.css`.

Docs and other pages can

[2016-01-17 19:30] MoOx commented on #89
Keep in mind that all pages are currently using a common js, to load pages using client side react rendering.
So yes I also think that we should lazyload (it's very easy using [webpack require.ensure()](https://webpack.github.io/docs/code-splitting.html) and transparent) stuff like the REPL.

[2016-01-17 19:44] mxstbr commented on #89
Routes should all be chunked and loaded on demand using `require.ensure`, like so:

[code]

Does Statinamic already do that @MoOx?

[2016-01-17 19:48] MoOx commented on #89
By default, statinamic have one layout and load md files (json actually), so no it does not.
Anyway, I think having 2 or 3 layouts files is not a big deal compared to the entire chunk.

[2016-01-17 19:52] marcustisater commented on #57
Yeah, maybe more of a CHANGELOG approach instead?

[2016-01-19 11:59] MoOx commented on #77
statinamic@0.6.1 fix this issue.

You are on the 0.5.x version, not sure there is a big change to upgrade to 0.6 but that involves might upgrading to babel@6. No big deal.

Also, that might be done a bit later, maybe that can way for some statinamic breaking changes (eg: https://github.com/MoOx/statinamic/issues/83 and friends).

I can handle it now or later if you want.

[2016-01-19 12:09] mxstbr commented on #77
I think you should be the one to decide @MoOx, you're the one with the roadmap of Statinamic in your head! What do you think?

[2016-01-19 13:09] MoOx commented on #77
I think it's not urgent atm. So we can wait a few days until I handle some minor breaking changes. Then we will be able to upgrade everything. I can handle it, it will be quicker.

[2016-01-19 13:09] mxstbr commented on #77
Alright, sounds good to me!

[2016-01-19 13:45] marcustisater commented on #77
I agree, it's better to do everything in one round.

[2016-01-19 13:48] marcustisater opened #94 "Update Statinamic"
Update Statinamic to version 0.6.1+ once the minor changes are done as well

[2016-01-19 13:48] marcustisater commented on #77
#94

[2016-01-19 13:48] #77 closed

[2016-01-19 21:24] marcustisater commented on #4
@okonet - I don't want to stress :sweat_smile: but did you manage to get some updates for the mockup? It does not need to be 100% to perfection.

@stephenway - if you have any spare minutes off this busy week to talk through some OSD, that would be awesome. Talk gitter, take care.

[2016-01-19 21:51] stephenway commented on #4
@marcustisater Will do, we will need to get a repo going with the sketch file for @okonet 's design so we can get going on OSD.

[2016-01-19 21:59] marcustisater commented on #4
Sure, maybe we can collab all together on an OSD "boilerplate" repo on top of that as well.

[2016-01-19 22:01] stephenway commented on #4
Make the repo and I'll populate it with my OSD gulp/sketchtool setup :smile:

[2016-01-19 22:02] MoOx commented on #4
Maybe you should host it here directly.

[2016-01-19 22:07] stephenway commented on #4
@MoOx Could you expand on that idea?

[2016-01-19 22:08] MoOx commented on #4
Just push your sketch in this repo since it should be the reflect of this repo result.

[2016-01-19 22:15] stephenway commented on #4
The goals of this new repo would be to make a boilerplate for other designers to fork and design off of per page layout. So if we were to use this repo for that purpose, we would end up with 20+ sketch files alongside the website itself. I think approach could hurt the open nature of OSD, mainly because you should be able to fork quickly and iterate without any extra cruft. This might fall in line

[2016-01-20 09:00] marcustisater commented on #4
It might sound confusing but in the long run it's a better decision to make another repo rather then pushing everything in here. This would also be a great thing to form out a starter-boilerplate from for others to fork.

We have to make sure that the other repo is well documented and "linked" to this one, also maybe an contributing guideline for designers.

[2016-01-20 10:12] okonet commented on #4
I've made one more attempt to incorporate all feedback I've got so far. I went back to a more subtle masthead section since I think that the previous one drove too much attention away from the content. We would be missing the famous red color of the logo as well.

The "REPL" section should have pre-defined examples so when the user selects one plugin from a list, it should update both parts (or ju

[2016-01-20 10:41] ai commented on #4
@okonet looks great, but we have 2 problems with REPL section:

1. Each plugin description is most important part on this page. But to put it to buttons, we wrote it is small font.
2. The main purpose of this page is to show REPL examples to user. But user see only one. He need special interaction to see other.

So maybe we should just add subsection for every plugin without switcher? Anyway lates

[2016-01-20 11:08] okonet commented on #4
@ai just to make it clear: what do you mean by "add subsection for every plugin without switcher"? Separate pages for each plugin? Can you do a quick paper sketch of what do you mean?

[2016-01-20 11:09] marcustisater opened #96 "Repository for OSD"
We had a discussion creating a new repository for the design part for postcss.org. I don't want to make the "final call" before we have discussed it.

The way I see it

* + Easier maintenance and for new contributors to get started.
* - Confusing between repo collaborations.
* -/+ We split one big repo into two parts

Suggestions:

1. Create a new repository named ex. `postcssorg-open-design`

2.

[2016-01-20 11:13] ai commented on #4
@okonet not separated page, just add a section for every plugin on this page:

[code]

[2016-01-20 11:14] marcustisater commented on #4
I talked briefly with Audrey and we think i'ts best to leave it up with a vote if we should create a new repository or not for the Open Source Deisgn - #96

Good work @okonet - I like the new version and would love to get you're opinion if we should create a new repository or not, maybe you have some past experience with this?

Let's keep #96 short and simple - keep on moving!

[2016-01-20 11:15] okonet commented on #4
@ai got it. Will try it out soon.

@marcustisater thanks. I'll chime up in #96

[2016-01-20 11:16] okonet commented on #96
I think it might be confusing to have separate repos for basically the same thing. I vote for `design` directory.

[2016-01-20 11:21] stephenway commented on #96
My vote is for a separate repo for the design using this boilerplate for open design https://github.com/stephenway/open-design-boilerplate

It is nice because you can diff each commit visually and designers can easily fork and iterate off it. So the main design repo would be mainly just the master layouts and guidelines for design practices. As we get new layouts defined, they can be added as PRs.

[2016-01-20 11:30] okonet commented on #96
@stephenway I think PRs and designs diff are also possible within one repo. Or am I missing something?

[2016-01-20 11:34] marcustisater commented on #96
That's what I'm scared of, right. If we have everything in this repository it can become very bloated and difficult to find the final cuts otherwise we can end up creating a very depth root of directories and files `/design/src/layout/final/...` - also files that are not relevant. This repository should be the "production/live" one including files that are not relevant to the final deployment feel

[2016-01-20 11:38] okonet commented on #96
I think you're overcomplicating matters. We'll never be able to have mockups in sync with the website and I personally think we should not even try. As soon as the design concept is approved I'd move to the HTML/CSS/JS phase and would work from there.

[2016-01-20 11:59] stephenway commented on #96
@okonet What makes you think the mockups will never be in sync?

The idea is that we make this a project for working with others. Your comments seem to only address your personal concerns with this workflow.

@marcustisater I think the long term benefits outweigh the needs of the few and that this will allow us to work faster as a team. Keeping the repo simple and focused will help guide the desig

[2016-01-20 12:21] okonet commented on #96
Speaking from my experience. And I also think web-designers should write code.

Once website is ready, the design will not be changed a lot (until a complete redesign) so I don't quite follow the effort to organize it so much. We'll end up with probably a few sketch files for design and lots of frontend code.

But I might be missing something here. Could somebody explain me how you see the process

[2016-01-20 12:25] MoOx commented on #96
Completely agree. People will make PR to update the website and the sketch files will likely be outof date really quickly.
I think it's a waste of time. We are mostly here CSS dev, so what about starting from a blank page and iterate on the code directly with PR accompagnied with screenshots (after a minimal start, but PNG/JPG I saw seems fine).

[2016-01-20 12:41] ai commented on #96
I agree with @MoOx. We should start from CSS. Anyway right now all designers known CSS. It is a simplier and faster right now. In future we could find better way if wwe really will have non-CSS designers (but why they will contribute to CSS tool? ;) ).

[2016-01-20 12:47] marcustisater commented on #96
I am still stuck in between the middle after reading you're guys thoughts but I am going to make the final call and say that we will keep everything within this repository otherwise we will just keeping arguing for another 50 comments.

With that being said, @stephenway you might have to rethink you're strategy of how you want to organize OSD in this repository , talk over gitter and maybe @okonet

[2016-01-20 12:47] #96 closed

[2016-01-20 12:48] marcustisater commented on #96
Thanks for everyones quick input btw. I think the majority would either way lean towards option number duo.

[2016-01-20 12:51] marcustisater commented on #27
We need still need to add the boilerplate to the repository and also include well documented REAME files of how the process will go. I can help you.

[2016-01-20 12:52] marcustisater commented on #27
cc @okonet

[2016-01-20 18:36] stephenway opened #97 "Requirements for Layout Contribution"
Now that we have a solid direction on design and contribution path, it seems that we need to flesh out the requirements.

* First off, we need @okonet to upload his design to Zeplin and invite members to the project. #98
* After that we need to get the front-end coded into this project.
* At this point we will need to identify which pages need custom layouts vs basic articles.
* Assign each custom

[2016-01-20 18:36] marcustisater opened #98 "Zeplin"
@okonet can you upload the mockup to a zeplin account? It would be easier to communicate the spec of the design for those are coding it.

https://zeplin.io/

[2016-01-20 18:41] stephenway commented on #98
#97

[2016-01-20 18:58] marcustisater commented on #97
Great breakdown. Here are some of my notes.

* Everything from Zeplin should try to be reference in issues, tasks such as "Create the main-navigation" etc.. I will help with that once the design is up.

* We should investigate how we are going to break down individual page layout as mentioned. The way I see it from the content point of view is that we have an "landing page", and single "page" with

[2016-01-20 19:02] marcustisater commented on #97
Remember that every page is already in a issue form to remind. This is a good reminder to look at things that are "custom layouts" such as the plugin page.

https://github.com/postcss/postcss.org/issues/83

[2016-01-21 16:13] marcustisater commented on #4
This is a good start, adjustments can be made on the front-end or later sketches. Great work with the mockups, now we have to move on the layouts.

@okonet - can you upload the mockups to an Zeplin account #98 and to the repo as well? @stephenway boilerplate should be ready in any day.

Moving on to #97

[2016-01-21 16:13] #4 closed

[2016-01-21 16:34] marcustisater commented on #98
Can we make it public?

[2016-01-21 16:34] okonet commented on #98
I've created an account and exported the mockup there (https://zpl.io/3S8HT). I could only invite @marcustisater and @mxstbr since others don't share their emails on GitHub. TBH I'd prefer the repository owner (@marcustisater) to create a postcss.com account so I can move the ownership there.

[2016-01-21 16:35] okonet commented on #98
I think this is a public one: https://scene.zeplin.io/project/56a0b62267a6ad3125f53fd1

[2016-01-21 16:36] marcustisater commented on #98
Yup seems fair, I can create one.

[2016-01-21 16:39] marcustisater commented on #98
You can pass the ownership to my personal account and I'll talk with Audrey about an postcss.org account.

I will update some documentation tonight with an design directory together with @stephenway boilerplate.

Thank you for the upload.

[2016-01-21 16:40] okonet commented on #98
I think you have to accept my invitation before I can transfer.

[2016-01-21 17:14] stephenway commented on #98
Zeplin applied the plan to my account, so I can host this and invite others.

[2016-01-21 18:17] marcustisater commented on #98
Oh, yeah I totally forgot. We got a free plan from Zeplin for this project right. Sorry.

Yeah, go ahead and invite.

[2016-01-21 20:36] marcustisater commented on #98
Can you add the public url once it's up to  https://github.com/postcss/postcss.org/blob/master/design/README.md

[2016-01-21 20:43] marcustisater opened #102 "Header"
We are now set to go on the development of the website. I am going to split this into components and custom layouts. @mxstbr feel free to edit any issues and breaking them down if needed.

## Header

The mashead is fairly simple and straight forward, only thing that needs to be replaced is Slack for Gitter. We are also missing the masthead hero image #105 and the new updated [logotype font](https:

[2016-01-21 20:45] marcustisater commented on #102
![screenshot-header](https://cloud.githubusercontent.com/assets/2952332/12494002/348d29da-c088-11e5-9ab5-c40310bd56b2.png)

[2016-01-21 20:46] mxstbr commented on #102
Nice, finally! 👌🏼 Thanks for splitting these up, will start dev soon!

[2016-01-21 20:49] marcustisater opened #103 "Footer"
Plain and simple Footer component with links to MIT License, issue tracker for PostCSS and logotype for EvilMartians (mostly likely also hyperlink)

You can find all the necessary styleguide info from Zeplin - #98

[2016-01-21 20:50] marcustisater opened #104 "Evil Martians Logotype"
We need the logotype for EvilMartians, provide optimized svg and polyfill png

[2016-01-21 20:52] marcustisater opened #105 "Images from mockup"
@okonet can you provide the header image used in the mockup? I would also like to know the license of it and where it's from. Thanks!

[2016-01-21 20:53] MoOx commented on #104
png for real? Not sure that relevant these days... http://caniuse.com/#search=svg

[2016-01-21 20:54] marcustisater commented on #102
Sounds good. I will try to break it down to as many issues as possible.

Yes, finally! :smile:

[2016-01-21 20:57] ai commented on #104
We have a special PostCSS to create PNF fallback. But I think it is not necessary.

[2016-01-21 20:57] marcustisater commented on #105
Let me rephrase that.

Can you provide all the images used for this mockup and send in an pull request for that otherwise I would just end up adding a bunch of issues for this matter.

[2016-01-21 20:58] marcustisater commented on #104
Ok, skip PNG. Death to IE8 < ;)

[2016-01-21 21:02] stephenway commented on #105
That will get exported in the design folder from the source.

[2016-01-21 21:02] marcustisater opened #106 "[Content Area] Built by community for community"
On the front-page there is a content area that has a section about "Built by community for community". We need someone to build the markup and apply some pretty css for that.

 You can find all the necessary styleguide info from Zeplin - #98

![screenshot-community](https://cloud.githubusercontent.com/assets/2952332/12494483/af78dd5e-c08a-11e5-9db7-10395e7bb81a.png)

[2016-01-21 21:03] marcustisater commented on #103
![screenshot-footer](https://cloud.githubusercontent.com/assets/2952332/12494506/ceb04180-c08a-11e5-90f7-e4a83403d081.png)

[2016-01-21 21:08] marcustisater opened #107 "Font Icon?"
There are some icons and small images shown in the mockup - What is you're guys recommendation of implementation these. Create an sprite sheet? Icon Font? just svg images?

Thanks for input.

[2016-01-21 21:09] stephenway commented on #107
I lived through most of these options and eventually landed on the fact that I don't want to spend most of my time juggling icons, so I went with Material Icons webfont https://design.google.com/icons/

[2016-01-21 21:10] marcustisater opened #108 "[Content Area] Showcase"
There is a content area on the front-page "Trusted by industry leaders". We need to apply markup for that.

You can find all the necessary styleguide info from Zeplin - #98

![screenshot-showcase](https://cloud.githubusercontent.com/assets/2952332/12494632/a358f8f0-c08b-11e5-9337-56fe1f44536d.png)

[2016-01-21 21:11] MoOx commented on #107
Raw SVGs transformed as React SVG components. Incoming update for statinamic will include the appropriate transformation.

[2016-01-21 21:11] MoOx commented on #107
For my concern, 99% of the time I use icons from http://iconmonstr.com/.

[2016-01-21 21:12] marcustisater commented on #107
Aww man I have been wanting to test those out for ages. That might be worth a shot.

Thanks @MoOx for info

[2016-01-21 21:14] marcustisater opened #109 "[Content Area] PostCSS in a nutshell"
There is a content area on the front page right under the mastheader about PostCSS in a "nushell". We would need to apply some markup and css for that.

You can find all the necessary styleguide info from Zeplin - #98

![screenshot-postcss](https://cloud.githubusercontent.com/assets/2952332/12494750/4bcf2d88-c08c-11e5-813f-267bee1ac0b2.png)

[2016-01-21 21:17] stephenway commented on #107
@MoOx Awesome!

[2016-01-21 21:18] marcustisater opened #110 "[Content Area] Get Started with PostCSS"
There is a content area right after #109 with two buttons to get started with PostCSS. We would need to apply some button markup and styling for these buttons (primary, secondary btns)

You can find all the necessary styleguide info from Zeplin - #98

![screenshot-get-started](https://cloud.githubusercontent.com/assets/2952332/12494845/c73d00a8-c08c-11e5-9e2c-fc0d875e58fa.png)

[2016-01-21 21:26] ai commented on #107
I am strongly against icons fonts, because there is no way to control their firm on every platform.

Also it is a hack. Font systems were created for fonts, but for icons.

SVG with postcss-inline-svg is simple and great for most cases.

[2016-01-21 21:29] ai commented on #109
This control is not ready yet. We can't use switcher, because:

* Plugin description is very important, but here we will be forced to use small font and few lines of text.
* It is a main part of site. But we should force users to click to see full content.

[2016-01-21 21:30] marcustisater commented on #109
Sorry, my fault. Let's leave it up for the designers to review it.

@okonet had a new mockup in progress of this from #4 what I understand, correct?

[2016-01-21 21:36] marcustisater commented on #105
That's awesome, can you make that happen @stephenway ? :wink:

[2016-01-21 21:37] marcustisater commented on #104
My fault, the images can be sliced from the sketch files into SVGs directly. I did not know that. Thanks for  the input about the polyfil tho :)

#105

[2016-01-21 21:37] #104 closed

[2016-01-21 21:41] marcustisater commented on #12
@stephenway - I think this should stay as a "meta" issue.

We would need to split upp design into custom layouts, basic articles, pages, landing-pages, plugin-search etc...

[2016-01-21 21:42] #27 closed

[2016-01-21 21:43] stephenway commented on #12
Agreed

[2016-01-21 21:44] marcustisater commented on #97
@stephenway - Would you mind If I create some issues for the custom layouts that needs design or would you like to organize that?

[2016-01-21 21:47] stephenway commented on #107
Actually you could say that webfonts are just an extension of glyph-based typefaces. But I agree it isn't the most native/pure way of using icons for web pages.

I'm all for anything that works, postcss-inline-svg looks good, haven't looked at it in a while.

[2016-01-21 21:48] stephenway commented on #97
If you think you know what layouts we need, by all means, but otherwise we should identify which pages need custom.

[2016-01-21 21:48] stephenway commented on #105
Sure, will come later though.

[2016-01-21 21:51] MoOx commented on #107
Inline SVG are far superior, you have a real control, can adjust the color using css fill property (works for multicolor svg too).

Since we are in React with webpack, we could do this

[code]

[2016-01-21 21:52] marcustisater commented on #97
Good point, I know a few pages that would defently need to be custom but you are correct. I will sit down this weekend to really go through it all. Thanks.

[2016-01-21 21:52] marcustisater commented on #107
Ah, that's really cool.

[2016-01-21 22:00] ai commented on #107
@MoOx postcss-inline-svg allows you to set colors too. But CSS is better place to put presentation icons in terms of semantic.

Also CSS will be served from fast CDN. So putting SVG into static HTML will make them slower

[2016-01-22 17:11] okonet commented on #105
Here is the original image URL: http://alchemyfraternitas.ru/media/photologue/photos/gravure4.jpg

I would assume the image should be in a public domain because of its age but to make it sure I think we'll need to contact them: http://alchemyfraternitas.ru/about/

[2016-01-22 17:20] marcustisater commented on #105
Yeah but it's best to be on the safe side - @ai can you contact them or do you have any other suggestions from #3 that we can replace?

[2016-01-22 18:12] okonet commented on #4
@ai something like this?

![image](https://cloud.githubusercontent.com/assets/11071/12518954/03429518-c13c-11e5-9df3-86582a60604f.png)

[2016-01-22 20:27] marcustisater opened #111 "Gulpfile.js failing"
The gulpfile.js is not passing travis-cli - needs to be resolved.

Please make sure to run `npm test` before pushing code for review and also not straight to master before submitting PR for review.

https://github.com/postcss/postcss.org/blob/master/design/gulpfile.js

[2016-01-22 20:39] marcustisater commented on #15
I started looking into React Styleguidist and it's seems very solid.

@mxstbr - tbh I haven't done much React so I'm asking for some guidance here to get started. How would you suggest setting the Styleguide up? Would it go into a separated folder in web_modules and integrate it into a custom layout? basically, how would you do it?

Thanks,

I added the configurations into a new branch - https://g

[2016-01-22 20:39] ai commented on #105
@okonet this imsage is 100% public domain. It is Middle Age engraving. I saw it many times in my history researches.

You can find more info by “Basilica Philosophica” keyword. It was made at 1563—1609.

[2016-01-22 20:42] ai commented on #4
@okonet yeap!

[2016-01-22 20:51] marcustisater commented on #111
PRs are welcome to fix linting errors.

[2016-01-22 20:53] marcustisater commented on #105
Ok great, thanks!

The images are sliced from Sketch with gulp, @stephenway is on it.

[2016-01-22 21:00] marcustisater commented on #4
I like it too.

Submit PR with sketch files

[2016-01-23 13:51] jeddy3 opened #113 "Approach to device and browser compatibility"
With the [basic structure underway](https://github.com/postcss/postcss.org/pull/112) (looking great btw!)... I think this is probably a good time to talk about device and browser compatibility, along with CSS techniques to achieve that compatibility.

The terminology around this issue is a [bit muddled](http://bradfrost.com/blog/post/the-many-faces-of-adaptive-design/), with the likes of: progress

[2016-01-23 16:06] mxstbr commented on #113
Definitely going responsive, that shouldn't be a question nowadays. Strongly prefer vector and definitely using (r)em. Not yet sure how a11y will pan out as I'm quite bad at that, maybe somebody else has more experience with the pain points there?

As far as the mobile view goes, that should be decided by the designers. @okonet any input here?

[2016-01-23 16:44] stephenway commented on #113
Might be easy to mark order on each object of the markup to show mobile order without reworking it into a mockup?

[2016-01-23 16:53] mxstbr commented on #113
Not sure how that'd work, tbh. Order isn't really the important part, some parts might have to change appearance and things.

[2016-01-23 21:40] marcustisater commented on #98
Can we please get this up as soon as possible? It's all very confusing what sketch we are forming.

[2016-01-23 22:23] stephenway commented on #98
https://zpl.io/TJT9K5

[2016-01-23 22:32] Vall3y commented on #98
@stephenway This doesn't seem public. I get an error saying I am not invited

[2016-01-23 22:37] stephenway commented on #98
Sorry @Vall3y looks like I shared the wrong link. This is more public https://scene.zeplin.io/project/56a3fb9180974a77015a1c2b

[2016-01-23 22:55] marcustisater commented on #98
Great :+1:

@okonet - can you upload the latest sketch file to Zepplin and repo? Thanks!

[2016-01-24 10:58] mxstbr opened #115 "Global CSS overriding everything"
We have some global CSS in the `Wrapper` component `index.css` file for some general styling from the Statinamic boilerplate. The problem is that those styles override everything else (e.g. an `a` tag won't ever have a different color) because they come after the other styles in the DOM.

How do we fix that @MoOx?

[2016-01-24 11:16] MoOx commented on #115
Use less global CSS, use more classes (css modules).
Combine both if needed (`.local tag` => more specificity for 'tag').
Does that help?

[2016-01-24 11:20] ai opened #116 "Property isolation"
Why we didn’t use `postcss-autoreset` to have isolated styles?

[2016-01-24 11:53] marcustisater commented on #113
I agree with @mxstbr

I think we should consider creating a sketch for mobile.

[2016-01-24 12:02] marcustisater opened #117 "Established theme"
There has been some confusion regarding what the final design template looks like. Sorry, that is my fault. Anyway, we have two versions, one indiciets more for a light version and one more of a darker version. Right now, we have been moving on with the darker version but I would like to keep this open for a final decision.

I am talking specifically about the theme and **NOT** the content. IMO th

[2016-01-24 12:04] marcustisater opened #118 "Sketch for front-page mobile viewport"
We need to create an sketch for how the front-page will look like on lower viewport sizes like mobile.

[2016-01-24 12:05] marcustisater commented on #113
btw great points @jeddy3 - I will definitely look into these more in depth.

[2016-01-24 12:07] marcustisater commented on #117
We need to improve the documentation for the design directory in the repository. I will help with that.

[2016-01-24 12:11] marcustisater commented on #109
resolved from latest in #4

[2016-01-24 12:12] marcustisater commented on #109
![new](https://cloud.githubusercontent.com/assets/2952332/12536144/12806ee0-c29c-11e5-84d0-7a119311fec4.png)

[2016-01-24 12:17] marcustisater opened #119 "Sketch for basic page"
We need to identify how an normal page will look like

Needs to be included
* Sidebar navigation for sub pages / anchor tags
* Header adjustments without hero-image
* Content text
* Footer

[2016-01-24 12:18] marcustisater opened #120 "Sketch for plugin page"
We need a sketch for how the plugin landing page will look like

My suggestions:
- BIG search box to find plugins #17
- Featured plugins?
- List of plugins

Ref #56 #17

[2016-01-24 12:20] marcustisater opened #121 "Sketch for style guide"
I am going to be helping out creating the styleguide #15 but I would need to know all the essential parts for it therefor I think it's a good idea to create somewhat of a sketch file for that first.

@okonet - What do you think?

[2016-01-24 12:34] okonet commented on #121
I'd prefer to have a styleguid done with something like https://github.com/sapegin/react-styleguidist not Sketch. Sooner we switch to writing modules with CSS is better IMO. I think Sketch file should act more as a initial guide to design.

[2016-01-24 12:35] okonet commented on #121
I see now react-styleguidist was already mentioned in #15. :+1:

[2016-01-24 12:41] marcustisater opened #122 "Suggestion for indiviual plugin pages"
I've been focusing a lot internally of content strategy and site mapping #83 especially now on the plugin parts.

**I have an suggestion:**
What do you guys think of individual plugin pages were there would be a short introduction of what the plugin does, links to GitHub, npm etc. It would be more a organized overview.

This most likely wont work in the long run because there is way to many plugin

[2016-01-24 12:42] marcustisater commented on #121
Yeah, I started looking into styleguidist, it's really good. Thanks for you're input, it makes sense.

[2016-01-24 12:42] #121 closed

[2016-01-24 12:59] okonet commented on #98
I dont' think the invite for Zipplin worked for me. I can't see the project so I can't export the latest design to it.

[2016-01-24 13:02] okonet commented on #98
Can you also add me as a maintainer otherwise I must go throught PR each time.

[2016-01-24 13:04] marcustisater commented on #98
It says on the member list that you are on pending invitation, let me see if I can reinvite you otherwise @stephenway will have to do that.

Yeah, I will add you asap.

[2016-01-24 13:12] marcustisater commented on #117
All generated sketch files will be in here - https://github.com/postcss/postcss.org/tree/master/design/src/template

[2016-01-24 16:55] mxstbr commented on #115
Not really sadly, because the global CSS is stuff like headings and such. That should be at the top and be overridden by everything else, not the other way around...

[2016-01-24 17:09] ai commented on #115
We decided to avoid global CSS, so we should avoid it here too.

[2016-01-24 17:09] marcustisater commented on #115
I thought the point of doing CSS Modules is not to do anything by global styles?

[2016-01-24 18:02] mxstbr commented on #115
Me too, but the styles were already in there. I'll remove them then!

[2016-01-24 18:02] #115 closed

[2016-01-24 18:02] MoOx commented on #115
@marcustisater currently the default boilerplate (because I was lazy) use some `:global` selector (which, when you are in "css modules" mode, allow you to use "non modules" selectors (when you are lazy or have to work with something where you cannot control class names).

You can easily avoid that by using a component for everything (eg a component for heading, one for Link etc), and this should b

[2016-01-24 18:03] mxstbr commented on #115
:+1: will do, thanks @MoOx!

[2016-01-24 18:12] marcustisater commented on #115
Ahaa, I see. Thank you for the explanation @MoOx

[2016-01-24 18:16] mxstbr commented on #115
#125

[2016-01-24 18:25] marcustisater commented on #98
Did you manage to sign up? It says you are on the list.

[2016-01-24 20:43] ai commented on #116
/cc @mxstbr

[2016-01-24 20:44] MoOx commented on #116
My only concern with this: does this create like TONS of styles properties?
With CSS modules, I don't feel the need to use this plugin.

[2016-01-24 22:15] ai commented on #116
@MoOx

CSS Modules and autoreset solves different tasks. Global CSS is not only about global selectors namespace. We still have global inteference between components.

For example, if we have a components: `<List><Item></List>` and in some point we put `line-height: 0` to `List` it will collapse the text inside `Item` too.

[2016-01-24 22:16] MoOx commented on #116
Yeah, but that's the purpose of the C in CSS right?
Seems like a bit brutal :)

[2016-01-24 22:16] ai commented on #116
@MoOx

It can create a one rule with all selectors if we will process a bundle through this plugin. Like:

[code]

[2016-01-24 22:17] ai commented on #116
@MoOx

Cascading should be explicit like:

[code]

`inherit` value still works.

Many people told same about CSS Modules too ;).

[2016-01-24 22:17] MoOx commented on #116
So if you have 150 selectors, the output is probably fun to see :)

[2016-01-25 11:06] okonet commented on #98
No. It doesn't show me the project. Can you send me invite to `andrey@okonet.ru` please?

[2016-01-25 13:20] marcustisater commented on #98
Alright, that's wired. I invite you're new e-mail adress, see if that works out for you.

[2016-01-25 14:38] okonet commented on #98
This worked. Please remove my other (gmail) address. I didn't try to commit any changes yet. Not sure if I have enough rights (as a non-admin).

[2016-01-25 14:39] marcustisater commented on #98
@stephenway can you add @okonet as admin for Zeplin?

[2016-01-25 16:03] stephenway commented on #98
@marcustisater @okonet Done, everyone is admin again.

[2016-01-25 16:57] #98 closed

[2016-01-25 20:09] marcustisater commented on #111
@mxstbr the linter dosen't seem to be running? I can't from local. Can we ignore the gulpfile.js from it as well?

[2016-01-25 20:10] marcustisater commented on #117
@ai do you agree with the the dark version? I would like to close this one.

[2016-01-25 20:11] marcustisater commented on #118
@okonet are you up for it? :smile:

[2016-01-25 20:16] marcustisater commented on #15
started style-guide, have a look at https://github.com/postcss/postcss.org/tree/master/style-guide

[2016-01-25 20:40] marcustisater commented on #116
Yeah, that's my only concern regarding this. The output :sweat_smile: Wouldn't that be huge?

[2016-01-25 20:46] ai commented on #116
@marcustisater same as normalize.css. Plain CSS rules never is a problem for size. Anyway inline images will be the biggest thing.

[2016-01-25 20:47] ai commented on #117
Yeap, dark header is more cool and in right *black* magic spirit :D

[2016-01-25 20:50] marcustisater commented on #116
I hear you, I'll leave this up for you experts to decide.

@mxstbr any input?

[2016-01-25 20:51] marcustisater commented on #117
Awesome, just a double check :smile:

reopen if anyone thinks the lighter version is to take under consideration.

[2016-01-25 20:51] #117 closed

[2016-01-25 20:52] marcustisater commented on #119
@stephenway are you up for it?

[2016-01-25 20:53] marcustisater commented on #122
@ai what do you think? Do you want me to rephrase the question?

[2016-01-25 21:06] mxstbr commented on #116
I think it'd be nice to use it, I've never worked with it but it sounds logical in combination with CSS Modules.

[2016-01-25 22:07] ai commented on #122
Hm. Looks good for me. But what is a benefit of this pages to our users?

[2016-01-26 08:41] okonet commented on #118
I could do a quick sketch

[2016-01-26 09:23] marcustisater commented on #118
Awesome, thank you. I think It would be easier for the developers to do mobile-first.

Yeah, quick sketch is great. We can always adjust details later.

[2016-01-26 12:58] #111 closed

[2016-01-26 14:32] mxstbr commented on #105
This is not yet working, so I'll get the images from the Sketch file itself.

[2016-01-26 14:50] marcustisater commented on #105
Yup, they are not marked yet. @stephenway can you prioritize this please?

[2016-01-26 14:59] marcustisater commented on #122
The point of it is not to make it "scary" for new users to PostCSS by forwarding them directly into an GitHub repository. I'm picturing an nice organized page with some introduction-text on what the plugin does and how to install it with links to GitHub, npm etc.

Let me quickly sketch something for you.

[2016-01-26 15:13] TrySound commented on #122
Maybe generate these pages from plugins readme? One more reason to write good readme :)

[2016-01-26 16:24] stephenway commented on #122
When I am thinking about npmjs.org's project pages, I think they seem unnecessary as a subset on-top of Github, so my question would be, what's the value our users would be getting out of individual plugin pages?

[2016-01-27 14:30] marcustisater commented on #122
The whole point of it is to give the user an more ease-in introduction to the PostCSS plugin instead of instantly throwing it over to GitHub repository which can be scary for some people that are new to this. The value is basically to make it more user friendly then what GitHub is.

@TrySound: Yeah definitely could be a good option.

Is it just me that think this is might work out? Otherwise I thi

[2016-01-27 14:34] marcustisater commented on #116
Alright, let's try it out. I'm up for it.

[2016-01-27 14:37] marcustisater commented on #113
@mxstbr do you think it's worth the effort to implement some of this to the [code guidelines](https://github.com/postcss/postcss.org/blob/master/CONTRIBUTING.md)?

[2016-01-27 14:37] MoOx commented on #116
I warn out, since we don't have a single CSS, output will be VERY redundant. Not a good idea imo.

[2016-01-27 14:39] marcustisater opened #129 "Webfont"
@ai is it correct that we are using Franklin Gothic Book as the official webfont for the website?

[2016-01-27 14:41] MoOx commented on #129
You cannot according to the license I think. It's just for the logo.

[2016-01-27 14:41] marcustisater commented on #107
I'd say we will focus on React SVG components for now and look at performance later.

Thank you @MoOx

[2016-01-27 14:41] #107 closed

[2016-01-27 14:42] marcustisater commented on #129
Yeah that's why I got confused, read https://github.com/postcss/brand/issues/9

[2016-01-27 14:43] ai commented on #129
Yeap, we can’t use Franklin Gothic Book

[2016-01-27 14:43] marcustisater commented on #129
My fault, didn't read through the entire issue.

[2016-01-27 14:44] marcustisater commented on #129
so the decided is Kreon @ai ? I want to double check.

[2016-01-27 14:47] marcustisater commented on #116
I agree with you but let's try it out before excluding anything in advanced here

[2016-01-27 14:53] ai commented on #129
Kreon is a logo type. Not for average text. PT Sans, Ubuntu is good for plain text.

[2016-01-27 15:09] mxstbr commented on #113
Probably not a bad idea to put it in there!

[2016-01-27 20:51] marcustisater commented on #129
Alright, I have to regroup with Stephen and Andrey to figure out their thoughts about this so we can get a styleguide going as well.

[2016-01-27 20:59] marcustisater commented on #113
Alright, cool. I figured that would the best scenario here otherwise it's difficult to keep on track with this for new developers.

@jeddy3 - Would you like to try writing down some "ground rules" and check with @mxstbr to assist you?   :smile:

[2016-01-28 09:59] okonet commented on #129
Just FYI all designs are using [Fira Sans](https://www.google.com/fonts/specimen/Fira+Sans) and [Merriweather](https://www.google.com/fonts/specimen/Merriweather)

[2016-01-28 10:02] okonet commented on #118
I've just added the mockup for mobile version to Zeplin + updated a bit desktop version.

Please add me as a maintainer of this repo so I can push changes to the sketch file without going through (pointless) PRs. Thanks.

[2016-01-28 14:04] marcustisater commented on #118
Great work, looking good.

You are already added to the maintainers file - should be working. https://github.com/postcss/postcss.org/blob/master/MAINTAINERS  - I will add you as a collab to the github repository as well so you have write access.

[2016-01-28 14:07] okonet commented on #118
:+1: thanks it worked

[2016-01-28 15:48] stephenway commented on #129
Actually I was going to ask, why we are using so many fonts?

[2016-01-28 15:50] okonet commented on #129
You mean 2? I don't think this qualifies as "too many" :)

[2016-01-28 16:06] marcustisater commented on #129
I agree, two fonts is enough. Thanks for update @okonet

[2016-01-28 16:06] stephenway commented on #129
Yea 2 isn't a lot, but the sketch file is using at least 4 different weights among those 2.

[2016-01-28 16:14] okonet commented on #129
@stephenway I assume you're concerned about the download size? I think this can be optimized and reduced to 2 weights.

[2016-01-28 16:24] stephenway commented on #129
@okonet Sounds good!

[2016-01-28 17:10] marcustisater opened #131 "Eslint searches through node_modules"
eslint seems to search through design/node_modules even it's ignored. Check http://eslint.org/docs/user-guide/configuring#ignoring-files-and-directories

I added `design/node_modules` to `.gitignore` but it should work without it when eslint searches through.

[2016-01-28 17:36] marcustisater opened #132 "[meta] Front-page"
Meta ticket of front-page for better overview

~~#118 - Sketch for mobile~~
~~#106 - Built by community for community~~
~~#108 - Showcase~~
~~#109 - PostCSS in a nutshell~~
~~#102 - Header~~
~~#103 - Footer~~

[2016-01-28 17:39] marcustisater commented on #118
Awesome, can you push it to the repo as well? I can generate the png if you would like to :smile:

[2016-01-28 17:42] marcustisater commented on #129
Great. How can we make it 100% clear for designers and developers that these are the fonts, colors that's the way to go.

Styleguide? Zeplin.io? Documentation in [design](https://github.com/postcss/postcss.org/tree/master/design)?

What do you guys think @okonet, @stephenway ? What's the best approach?

[2016-01-28 19:59] stephenway commented on #129
For now I'd stick with the zeplin styleguide as that has the most information ATM

[2016-01-28 20:11] marcustisater commented on #129
Yeah figured, styleguide is later formed.

[2016-01-30 04:34] corysimmons commented on #118
Can I be added to Zeplin? Also, why is the design closed to begin with on an open project?

[2016-01-30 09:57] marcustisater commented on #118
You are welcome to join us, we have a few sketches left that needs to be done and thought through so any help is good to combine ideas together.

Unfortunately, Zeplin dosen't allow to make it public so we will have to invite people by request. You can start by reading [here](https://github.com/postcss/postcss.org/tree/master/design).

I am going to update the documentation more in detail, might b

[2016-01-30 10:04] marcustisater commented on #86
We are going to be using two webfonts. [Fira Sans](https://www.google.com/fonts/specimen/Fira+Sans) and [Merriweather](https://www.google.com/fonts/specimen/Merriweather)

@mxstbr - Would you mind adding these?

[2016-01-30 10:05] marcustisater commented on #129
Thanks for the update @okonet, I should have seen it right away from the sketch.

[2016-01-30 10:05] #129 closed

[2016-01-30 10:05] marcustisater commented on #129
#86

[2016-01-30 11:22] marcustisater opened #133 "Zeplin invitations"
If you would like to get invited to the [Zeplin Project](https://zpl.io/TJT9K5), let us know here and we will invite you to it.

[2016-01-30 21:11] corysimmons commented on #118
Eh, it's alright. It might be nice to have a "Current Mockups" Issue where you just paste a screenshot in every now and then so the community can kinda see what's going on without having to get a Zeplin account and be manually added to the group.

It'd be nice if the community could at least watch the progress y'know?

[2016-01-30 22:09] marcustisater commented on #118
I hear you, will definitely consider doing something like that. We do have an [public url](https://scene.zeplin.io/project/56a3fb9180974a77015a1c2b) for the Zeplin project and also some [documentation](https://github.com/postcss/postcss.org/tree/master/design)

The reason why we moved forward so quickly with finalizing the mockup is to keep activity going with this project, it's very common that a

[2016-01-30 22:11] marcustisater commented on #118
We did send out a tweet the other day https://twitter.com/PostCSS/status/693169287339577344 that attracted some more people checking out this repo.

[2016-01-31 00:00] corysimmons commented on #118
Ah okay cool. So you guys can update that Zeplin public facing page as much as you want? Could you add a few more screenshots in there or is this homepage design all that we've got right now?

[2016-01-31 09:49] marcustisater commented on #118
We only have the homepage ready for development.

If you would like to help out there is #119 and #120 to start working on that is a little bit tricky. I think you should grab one of those issues :wink:

[2016-01-31 11:55] corysimmons commented on #118
Nah, I'm too busy. I'll shut up and leave you guys alone. Best of luck

[2016-01-31 20:07] jeddy3 commented on #132
I've made a start on these... I'll hopefully have something to show in a day or two.

Just wanted to give you all the heads up so that we don't duplicate effort :)

[2016-01-31 20:07] jeddy3 commented on #106
I've made a start on this...

[2016-01-31 20:08] jeddy3 commented on #108
I've made a start on this...

[2016-01-31 20:08] jeddy3 commented on #109
I've made a start on this...

[2016-01-31 20:08] jeddy3 commented on #102
I've made a start on this...

[2016-01-31 20:08] jeddy3 commented on #103
I've made a start on this...

[2016-01-31 20:22] marcustisater commented on #132
That's awesome to hear, I'm glad you picked it up. I know @mxstbr is starting next week with the development but the only thing we have to go on is the home page so let's make that top notch until we have some more sketches.

Looking forward for PR :smile:

[2016-01-31 20:33] jeddy3 commented on #132
I know @mxstbr has been busy working with @MoOx in evolving the `statinamic` tool, which is a little beyond my JavaScript skills. So I figured I'd help out with something I do know... CSS and HTML :)

[2016-01-31 20:36] MoOx commented on #132
(Btw, I am currently working on a huge update for statinamic - which take times but which will make things way better on many points ^^)

[2016-01-31 20:40] marcustisater commented on #132
That's great to hear.

[2016-02-02 08:06] marcustisater commented on #106
Great work once again.

[2016-02-02 08:06] #106 closed

[2016-02-02 08:06] #108 closed

[2016-02-02 08:06] #109 closed

[2016-02-02 08:06] marcustisater commented on #109
We added stylint as well.

[2016-02-02 08:07] marcustisater commented on #102
Great work but we are missing one thing - the github integration.

[2016-02-02 08:07] #103 closed

[2016-02-02 08:08] marcustisater commented on #118
@okonet sorry for repeating - Would you mind uploading the sketch file to the repository so can sync everything together.

Thanks!

[2016-02-02 08:10] marcustisater commented on #132
Great work @jeddy3

[2016-02-02 08:10] #132 closed

[2016-02-02 08:35] jeddy3 commented on #102
It's an easy add:

[code]

To `Hero`.

However, I wasn't too sure about this. I did add it at one point, but then stripped it out again because I found it interfered with the natural flow through the page. Right now we have the Hero that introduces PostCSS with its logo and tagline. This then leads into the examples of some tools built with PostCSS. Adding a star button breaks that follow by stick

[2016-02-02 08:56] okonet commented on #118
I did a few days ago.

[2016-02-02 10:28] ai opened #138 "Increase font"
Guy, having a first preview is awesome. Great work.

Just a small notice: we should increase font size in plugin description and “Your company is using PostCSS? Let us know!”.

[2016-02-02 10:29] ai opened #139 "Link to Evil Martians"
Let’s make a link from Evil Martians logo. URL: https://evilmartians.com/

[2016-02-02 10:32] marcustisater opened #140 "[meta - bugfixes] for prio launch 1.0"
As sure many of you know, we have the home page up and running on `postcss.org`. We are going to keep it very lightweight now for a soft launch instead of tackling on #119. I rearranged the [**milestone 1.0**](https://github.com/postcss/postcss.org/milestones/1.0)

but there are a lot of **voices** so I would like to keep them in this issue or create new once referenced to this to prioritize bug f

[2016-02-02 10:33] marcustisater commented on #140
#139

#138

[2016-02-02 12:46] marcustisater commented on #118
Are you sure?

I'm not talking about Zeplin - https://github.com/postcss/postcss.org/tree/master/design/src/sketch

[2016-02-02 12:58] jeddy3 commented on #139
Will do.

[2016-02-02 13:00] jeddy3 commented on #138
They are currently 13sp. I'll bump it to 14sp as that'll be inline with [Google's recommended minimum](https://www.google.com/design/spec/style/typography.html#typography-styles) for body text. Sound good?

[2016-02-02 13:01] marcustisater commented on #102
Ah yeah, you are right. `iframe` is enough for this.

@okonet - any thoughts regarding this?

[2016-02-02 13:03] marcustisater commented on #86
@jeddy3 - we are currently set to system ui fonts correct?

Designers implemented [Fira Sans](https://www.google.com/fonts/specimen/Fira+Sans) and [Merriweather](https://www.google.com/fonts/specimen/Merriweather) into the design.

[2016-02-02 13:04] marcustisater commented on #138
also worth mentioning #129 ref #86

[2016-02-02 13:05] ai commented on #138
14px is a smallest font size that I use. Why not 16px?

I think bigger font (at least under 32px) is always better. Many people have bad screens. More people have short-sightedness. Even if you have ideal eyes, you will read small text slower.

[2016-02-02 13:13] okonet commented on #102
These are good points indeed. Let's try without the button. We can always change later.

[2016-02-02 13:13] jeddy3 commented on #138
I'm not sure why 14px is Google's recommended font size for small screens. I suspect it has something with [uncomfortable line lengths](https://www.google.com/design/spec/style/typography.html#typography-other-typographic-guidelines) when it's any bigger.

As we're trying to pick a font size that works across all viewport sizes (to save us a ton of effort) perhaps we can try 16px as a compromise b

[2016-02-02 13:15] okonet commented on #118
Damn, I pushed to my fork. Will do a PR right now.

[2016-02-02 13:16] okonet commented on #118
@marcustisater https://github.com/postcss/postcss.org/pull/141

[2016-02-02 13:19] marcustisater commented on #118
Yeah that's probably why, no worries. You can just push it right through master, I can generate the png through gulp.

[2016-02-02 13:21] okonet commented on #118
I've just updated. PR had too many conflicts because of dirs structure

[2016-02-02 13:30] jeddy3 commented on #102
:+1:  :)

[2016-02-02 13:31] jeddy3 commented on #102
Oops, pretty presumptuous of me to close the issue. I'll leave that to you @marcustisater  :)

[2016-02-02 13:36] marcustisater commented on #102
No, i'ts fine. I think we can close this one out.

Great job and thanks for quick input @okonet

[2016-02-02 13:36] #102 closed

[2016-02-02 13:52] marcustisater commented on #118
Thanks!

[2016-02-02 13:53] marcustisater commented on #118
hey btw Andrey, when you have time to look through the website and see if you can catch any minor bugs - report them in #140

[2016-02-02 14:02] jeddy3 commented on #110
FYI, I called this component `WayFinder` in `1.0`

[2016-02-02 14:47] marcustisater commented on #110
Yeah, we replaced this with the other buttons - it's kind of like a site map shortcuts. It's super nice to have.

Good work

[2016-02-02 14:47] #110 closed

[2016-02-02 15:06] #139 closed

[2016-02-02 18:15] okonet opened #145 "Visual updates"
I've just checked the latest version from master. Amazing work!

I've spotted a few issues though:

1. The logo looks much smaller as on mockup making look unproportional to the text and other elements. See side-by-side comparsion.

![2016-02-02 at 19 08](https://cloud.githubusercontent.com/assets/11071/12759244/57188826-c9e0-11e5-9fd8-fe72a7b9f52a.png)

2. The PostCSS text with 2 colors doesn't l

[2016-02-02 18:15] okonet commented on #140
Also #145

[2016-02-02 18:23] mxstbr commented on #145
:+1: Agree with the PostCSS in only one color, looks better to me too!

[2016-02-02 18:24] ai commented on #145
:+1:

[2016-02-02 21:17] marcustisater commented on #145
I agree with all of the points listed, PR's welcome.

[2016-02-02 22:26] corysimmons commented on #86
![image](https://cloud.githubusercontent.com/assets/224636/12766453/ef60e06a-c9d1-11e5-9795-fa5e16322167.png)

Can someone explain what this font is? Is it just like a Mac specific global default font or some crap? I can't find it anywhere but it looks beautiful.

[2016-02-02 22:38] jeddy3 commented on #86
That's right.

@corysimmons The site currently uses [system UI fonts](https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/). So what you're seeing in your system's UI font e.g. if you're on OSX El Captain you're probably seeing San Francisco.

[2016-02-02 22:40] corysimmons commented on #86
@jeddy3 Awesome, thanks. Didn't realize this was a thing.

[2016-02-02 22:51] jeddy3 commented on #145
Fantastic. It would be awesome if you could pick this up as you've got the eye to make the tweaks :)

I'll then be able to make time to document the CSS conventions.

Yep, I wasn't able to extract the logo from the .sketch file—I think I was missing a font or something—and so I quickly grabbed the most similar one I could find from https://github.com/postcss/brand. Can you replace it please? One t

[2016-02-02 23:09] stephenway commented on #145
@jeddy3 I'll update the brand and run it through our svgo task tonight.

[2016-02-03 05:02] MoOx commented on #86
I originally left a comment (because this kind of font-family stack need to be explained https://github.com/postcss/postcss.org/search?utf8=%E2%9C%93&q=-apple-system&type=Code)

https://medium.com/@mwichary/system-shock-6b1dc6d6596f#.3io6q9rem

[2016-02-03 09:55] okonet commented on #145
This should be automated and done in a pre-commit hook.

[2016-02-03 09:57] okonet opened #146 "Automatically optimize images and SVGs in pre-commit hook"
This is a follow up for this note:

that came from #145

[2016-02-03 11:44] jeddy3 commented on #146
:+1:  :)

[2016-02-03 14:11] marcustisater commented on #146
Awesome, I totally forgot about that.

Side note: The PostCSS logo is in the [brand repository](https://github.com/postcss/brand) for PostCSS, we should do a similar thing over there.

[2016-02-03 16:05] stephenway commented on #146
We are, with the `gulp minify` task, just need to add it to the main pre-commit task.

[2016-02-03 16:56] ai opened #147 "Name for webpack logo"
We have a webpack in PostCSS users. This logo have no project name. But many people can miss that it is webpack logo.

[2016-02-03 16:58] mxstbr commented on #147
We could use this: https://github.com/webpack/webpack.github.com/blob/master/assets/logo-vertical-quadratic.png

[2016-02-03 17:12] marcustisater commented on #147
To be honest, I think we need to reconsider this section. It's a mix between companies and open source projects, on the bottom of that section it says "_Is your company using PostCSS?_"

Maybe we can split this up into two sections were we could one section showing "**It's easy to add**" showing build tools like Grunt,Gulp,Brocolli and Webpack and the other section for "**Using PostCSS**" known co

[2016-02-03 17:14] ai commented on #147
Yeap, let's also change other text. But anyway we will have logos, because they are largest.

[2016-02-03 17:16] marcustisater commented on #94
@MoOx - How is Statinamic looking? Do you need any help resolving issues? I would love to have the image solution for folders integrated into the update too.

[2016-02-03 18:28] okonet commented on #147
We could use [JetBrains](https://www.jetbrains.com/) logo. I can get us a permission. WYT?

[2016-02-03 18:29] ai commented on #147
@okonet wow, where they use PostCSS

[2016-02-03 18:33] okonet commented on #147
I think all their web projects uses it.

[2016-02-03 18:35] ai commented on #147
@okonet can you ask your friend in JetBrains? We should be 100% sure.

[2016-02-03 18:39] okonet commented on #147
@Leonya gave me persmission to use it. I still could get an official one.

[2016-02-03 18:41] MoOx commented on #94
Bug is fixed in core. Assets have been improved, but I am working on the DX atm and a huge refactoring is in progress, I would like to finish before cuting a new release.
Are you "in a hurry"?

[2016-02-03 18:53] marcustisater commented on #94
Awesome, no absolutely not. I am just looking for a quick status report and to check if you need any help with it.

Thanks!

[2016-02-03 18:54] marcustisater commented on #147
That would be awesome.

@okonet what do you think about splitting these sections up into two? One for companies and the other for the build tools. Does it make sense for the design?

[2016-02-03 18:57] marcustisater commented on #147
quick solution for now would be to switch out Webpack logo for JetBrains.

[2016-02-03 19:01] okonet commented on #147
I'd put build tools into separate page (Installation & Setup) and just remove the Webpack logo from the front page.

[2016-02-03 19:10] ai commented on #147
I think webpack is more recognizable than JetBrains. Maybe we should put 5 logos.

[2016-02-03 19:17] mxstbr commented on #147
Woah JetBrains uses PostCSS? Awesome!

[2016-02-03 19:32] marcustisater commented on #147
Alright, fair enough. I'd say remove webpack for JetBrains logo. We should still keep the site clean looking and not adding in to many logotypes.

[2016-02-05 09:15] princed commented on #147
Hi, guys :)
Here is the an [svg](https://github.com/postcss/postcss.org/files/118871/jetbrains.svg.zip) for you.

[2016-02-05 14:58] marcustisater commented on #147
Thank you very much @princed, I can add that tonight.

Should I replace the webpack logo or add it as the fifth one @ai ?

[2016-02-05 15:00] ai commented on #147
I think we should add JetBrains logo as fifth and update webpack logo with project name.

Webpack is much more recognizable than JetBrains in my option.

[2016-02-05 15:03] marcustisater commented on #147
Sure, but as I said before - Webpack is not a company, it can be a little confusing when the text under says:

_"Is you're company using PostCSS?"_

I will add the webpack logo with text and JetBrains.

[2016-02-05 15:04] ai commented on #147
Let's just change text to fix it 😀

[2016-02-05 15:04] marcustisater commented on #147
Ok, I can figure something out.

[2016-02-05 17:09] okonet commented on #147
Thank you @princed!

I agree with @marcustisater we should not include webpack logo in this section.

[2016-02-05 17:44] ai commented on #147
@okonet why you think to remove weback if we will rename section title?

[2016-02-05 19:48] okonet commented on #147
To what? And in this case we should add logos of grunt and gulp as well, right?

[2016-02-05 19:50] okonet commented on #147
TBH I think having some big companies and not build tools is good for markting. I'd even ask for more big names (Facebook, Airbnb, etc.). I think we could reach a few dev from these companies on twitter. WYT?

[2016-02-05 19:54] ai commented on #147
@okonet nope, webpack uses PostCSS in default `css-loader`. Webpack by default need to process `@import` and `url()`. Also `css-loader` contains CSS Modules features. And this is why webpack uses PostCSS inside.

So every webpack users uses PostCSS. This is why its logo is so important.

[2016-02-05 20:06] okonet commented on #147
Sorry, but I'm still not convinced and I think this is very technical explanation. For "normal" developers out there it probably won't ring a bell. Google as company will.

[2016-02-05 20:08] okonet commented on #147
Don't get me wrong. I want to emphasise that Webpack uses PostCSS under the hood. But for the front page I think it's more important to have some big companies. Anyway it's your call and I'm okat with chaning the title if you see more value in that.

[2016-02-05 20:45] marcustisater commented on #147
Well said @okonet. I think we should take the Webpack logo under another section with Gulp & other build tool friends and split up into two sections as mentioned earlier.

We should really embrace Webpack being under the hood of PostCSS but that wont ring the bell to the visitor without **knowing** about it at first. It wont make sense. We have to "explain it".

[2016-02-05 20:55] marcustisater commented on #147
@ai let's start with this and if you have a super bad feeling about it, we can add webpacks logo back.

[2016-02-05 21:18] ai commented on #147
OK, let’s remove webpack ;)

[2016-02-06 19:13] marcustisater commented on #147
:smile:

[2016-02-06 19:13] #147 closed

[2016-02-06 23:05] marcustisater commented on #145
I replaced the logotype with this [one](https://github.com/postcss/brand/blob/master/dist/postcss-logo-vertical-white.svg). If you look closely at the home-page sketch file the logotype actually looks way bigger and also more "centered" with the hero background image. I'm refereeing to the circle.

@okonet: Don't you think we should go with the web fonts that you guys defined (#129)?

[2016-02-07 08:29] okonet commented on #145
We should use the logo from the sketch. But without the type part.

I would try using web fonts. I think they will improve the feel a lot.

[2016-02-07 12:23] marcustisater commented on #145
Yeah, let's try that instead.

I'll get that up asap. Thanks for input.

[2016-02-07 21:40] marcustisater commented on #145
I added the web fonts now as well, I have to double check all the font-sizes as well. They seem off now.

[2016-02-07 21:42] marcustisater commented on #86
I added webfonts from GoogleFonts with [FontFaceObserver](https://github.com/bramstein/fontfaceobserver). That should be good enough, "fallback" is System UI fonts.

[2016-02-07 21:42] #86 closed

[2016-02-08 12:50] thangngoc89 commented on #94
I can help with this issue.

I'm learning about PostCSS so this is a good chance to get involved with the community. @MoOx it looks like next release has breaking changes. Will it be 1.0.0 or 0.7.0 ?

[2016-02-08 13:37] marcustisater commented on #94
Statinamic is in another [repository](https://github.com/MoOx/statinamic). I'm sure @MoOx can assist you over there if he needs any help with something. Be on the lookout for `PR welcome` labels.

If you would like to work on individual issues for [postcss.org](http://www.postcss.org), have a look [here](https://github.com/postcss/postcss.org/milestones/1.0). By helping @MoOx with Statinamic you a

[2016-02-08 13:40] thangngoc89 commented on #94
@marcustisater I'm helping @MoOx with statinamic at the moment (just look at statinamic's issues list https://github.com/MoOx/statinamic/issues)

[2016-02-08 13:45] marcustisater commented on #94
Ok that's great! :metal:

[2016-02-08 14:22] marcustisater commented on #105
@stephenway is it possible to slice the images fromt the sketch file or is it necessary struggle to go through every  time someone would update it, otherwise I will have to close this issue.

[2016-02-08 14:23] marcustisater commented on #140
Alright, no more bug reports for 1.0 launch, rest will be sent to 1.1

[2016-02-08 14:23] #140 closed

[2016-02-08 19:32] #131 closed

[2016-02-08 21:54] MoOx commented on #94
0.7 should land soon. Not ready for 1.0 yet (basic things still missing).

[2016-02-09 17:07] okonet commented on #145
I think everything was addressed in https://github.com/postcss/postcss.org/pull/153 and in https://github.com/postcss/postcss.org/pull/154.

[2016-02-09 17:11] okonet commented on #138
I think we can close this one after #153 is merged.

[2016-02-09 19:48] marcustisater commented on #94
I'm thinking a public release on Friday the 19th for `postcss.org`. Is that doable for you guys?

[2016-02-09 19:58] marcustisater commented on #138
Hmm, yeah. I would need to double check however, the font-sizes seems off comparing to the sketch you made.

[2016-02-09 20:00] marcustisater commented on #145
Yeah, I will close this one. If you have any more visual adjustments to be made, add them to a new issue for that.

[2016-02-09 20:00] #145 closed

[2016-02-09 20:03] okonet commented on #138
LGTM

[2016-02-09 21:35] MoOx commented on #94
Having issues with the major upgrade because of babel recent update. Not sure that doable.

[2016-02-10 01:51] thangngoc89 commented on #94
I'll prepare a pr and waiting for release

[2016-02-10 04:38] MoOx commented on #94
Major issue has been fixed, so I will handle some small things an cut a release asap.

[2016-02-10 06:13] halvves opened #156 "404 Page"
I just forked/cloned and was poking around and noticed that there isn't a [404 page set up](https://help.github.com/articles/custom-404-pages/) for gh-pages.
![gh-pages 404 page](https://cloud.githubusercontent.com/assets/9411730/12939865/b016454a-cf89-11e5-90ac-f64e58a06412.png)

The non-hosted local version shows a little bit of a 404 page, but could still use some tweaking (and setting up to wo

[2016-02-10 08:48] MoOx commented on #156
Blocked by https://github.com/MoOx/statinamic/issues/47

[2016-02-10 08:48] MoOx commented on #156
(It's on my todo, I have this issue on multiple sites).

[2016-02-10 08:49] MoOx commented on #146
That might help https://www.npmjs.com/package/ghooks

[2016-02-10 09:07] marcustisater commented on #156
Howdy @halvves, thanks for joining in and submitting an issue. I hope the docs helped you get started. I totally forgot about the 404-page and I think we should prioritize this for 1.0 too, as you said it's a better for user experience.

@MoOx - That's great, if we can get this done with #94 that would be great. Isn't it possible to create a "temporary" routing for this for right now?

@halvves if

[2016-02-10 09:08] marcustisater commented on #146
Thanks @MoOx - I can try get this going this week.

[2016-02-10 09:11] marcustisater commented on #94
Great to hear and if time cuts short, we can just move the deadline for [1.0](https://github.com/postcss/postcss.org/milestones/1.0)

[2016-02-10 09:13] okonet commented on #146
I'm on it. No worries.

[2016-02-10 09:13] marcustisater commented on #156
I'm going to prioritize this for 1.0 and help but if we can't make time for it depending on  https://github.com/MoOx/statinamic/issues/47 - We can add it later.

[2016-02-10 09:15] okonet commented on #146
BTW should we use a webpack loader for that instead? Or pre-commit hook is more explicit?

[2016-02-10 09:31] MoOx commented on #146
The simpler solution (and more portable) is to avoid webpack when possible but that's not always relevant.

[2016-02-10 09:33] MoOx commented on #156
@marcustisater using a `<Route>` will make this work during client navigation only (so after one successful page). I will try to handle this asap.

[2016-02-10 18:43] #146 closed

[2016-02-10 19:28] marcustisater commented on #156
Ok, thats makes sense. @halvves let me know if you are up doing some markup and styles once @MoOx is completed with https://github.com/MoOx/statinamic/issues/47

[2016-02-10 22:43] halvves commented on #156
@marcustisater - Certainly. Would you want that as just a hard coded component for now, like the components on the index? Or should there be a markdown file for the 404 text?

[2016-02-11 04:18] MoOx commented on #156
Component is a better idea (for client side 404).

[2016-02-12 10:23] okonet opened #160 "Replace user pics with GitHub's versions"
ATM the user pics for the OSS section are from http://uifaces.com (down at the moment of writing). We should replace those images with the real contributors' userpics from GitHub.

Initially my idea was to fetch them from GitHub servers (using API). Not sure how this result in the overal loading performance tho. So this could be worth experimenting with.

[2016-02-12 10:24] ai commented on #160
BTW, maybe real photo from PostCSS meetups are more “warm” and “real”?

[2016-02-12 10:26] okonet commented on #160
Initially I wanted to create a component that scrolls through all the contributor's faces. So everyone is on it. I think meetup photos are neat, but far from including everyone.

[2016-02-12 10:26] okonet commented on #160
But we could try this as well, of course.

[2016-02-12 10:28] ai opened #161 "Favicon"
I think every site should have favicon

[2016-02-12 10:29] ai commented on #161
I think this issue is related https://github.com/postcss/brand/issues/8

But we can use current logo as first version of favicon too

[2016-02-12 11:03] okonet commented on #161
:+1:

[2016-02-12 13:09] marcustisater commented on #161
@stephenway will make one for the first release.

[2016-02-12 13:11] marcustisater commented on #160
Hmm, not sure if we can prioritize this for milestone [1.0](https://github.com/postcss/postcss.org/milestones/1.0) but I agree, we should have the real contributors on that image.

[2016-02-12 13:11] #105 closed

[2016-02-12 13:11] #118 closed

[2016-02-12 14:03] ai opened #162 "Social meta tags"
We need better OpenGraph and other social media tags. At least we need a tag with image for OpenGraph tag.

[2016-02-12 14:19] ai opened #163 "Horizontal scroll on mobile"
![9ziqxkobmes](https://cloud.githubusercontent.com/assets/19343/13009295/cab8d2f8-d1ac-11e5-900a-4eabee12f04d.jpg)

[2016-02-12 14:20] ai opened #164 "React warning"
![deepinscreenshot20160212161739](https://cloud.githubusercontent.com/assets/19343/13009319/e05221f0-d1ac-11e5-93b8-2f03089d3c10.png)

Warning is not a bug. But because site users will be only a developers, they will ask us about any warning in console ;).

/cc @MoOx

[2016-02-12 14:22] MoOx commented on #164
Dup of #94, will be fixed by #158.

[2016-02-12 14:22] #164 closed

[2016-02-12 14:33] marcustisater commented on #163
hyphens maybe? I'll fix that. I'm doing font adjustments at the moment.

[2016-02-12 14:47] ai opened #166 "Add Google Analytics"
I create a Google Analytics account. Here is a tracker code:

[code]

/cc @marcustisater

[2016-02-12 14:48] ai commented on #166
Analytics will be useful for example for countries statistics. Or for conference talk efficiency feedback.

[2016-02-12 14:49] marcustisater commented on #166
Sure thing.

[2016-02-12 14:49] ai commented on #166
If you want a access to analytics, please provide a email here.

/cc @ben-eb @okonet

[2016-02-12 14:49] ben-eb opened #167 "Use midas for CSS highlighting"
Let's really show off what PostCSS can do.

http://midasjs.com/

[2016-02-12 14:51] okonet commented on #167
Cool! Does this work in browser?

[2016-02-12 14:53] ben-eb commented on #167
@okonet I haven't tried this, only used it in static site generation. All the CSS examples on the cssnano website are highlighted with it. :smile:

[2016-02-12 14:55] okonet commented on #167
Can you create a PR please?

[2016-02-12 14:55] marcustisater commented on #167
I will move this to the "wishlist" for now.

PR's are welcome of course.

[2016-02-12 15:42] ai commented on #162
Think we should use big black image with red logo from header for OpenGraph.

[2016-02-12 16:12] romashamin opened #170 "Evil Martians badge don’t match the pixel grid"
![postcss-website-em-badge](https://cloud.githubusercontent.com/assets/1148914/13012475/79fd14f4-d1bc-11e5-8222-967b872543ed.png)

[2016-02-12 16:21] marcustisater commented on #170
Thank you @romashamin for reporting this in.

[2016-02-12 16:58] halvves commented on #162
Do we have a larger version of the dark bg image (alchemy.*)? I've found larger versions of the source image, but those obviously aren't the right color/style.

I have a preliminary 400x400 og image ready, but a [1200x1200 would be nicer](http://www.h3xed.com/web-and-internet/how-to-use-og-image-meta-tag-facebook-reddit).

![postcss-og](https://cloud.githubusercontent.com/assets/9411730/13013991/6

[2016-02-12 17:00] ai commented on #162
I think @okonet has source

[2016-02-12 17:02] halvves commented on #166
Me being new to the react world... is this just a matter of including the analytics script or do we need to employ something like [react-ga](https://github.com/mozilla/react-ga)?

[2016-02-12 17:13] marcustisater commented on #166
@MoOx /@mxstbr - any recommendations? Thanks!

[2016-02-12 17:15] MoOx commented on #166
https://github.com/MoOx/statinamic/blob/master/docs/web_modules/GoogleAnalyticsTracker/index.js

[2016-02-12 17:16] MoOx commented on #166
Maybe I should add this in the default boilerplate...

[2016-02-12 17:16] MoOx commented on #166
(Yeah poke me when needed, I unwatched because of too many activity ^^)

[2016-02-12 17:19] marcustisater commented on #166
Awesome, that's what I was looking for. @halvves do you want to give it a shot?

@MoOx haha, just tell me when I get to annoying, I don't want to be up you're ass :smile: and yeah you should definitely add it to the boilerplate imo.

[2016-02-12 17:28] okonet commented on #162
@halvves sketch file has it as well. Is there any documentation on sizes etc for OpenGrpah? I could add an artboard for that to Sketch.

[2016-02-12 17:31] marcustisater commented on #167
@ben-eb gitter:

midas has built-in base16 themes, pick one http://chriskempson.github.io/base16/
no CSS preview but you can get an idea of the general colours

[2016-02-12 17:39] ai commented on #162
Yeap, image sizes is tricky :)

[2016-02-12 17:40] halvves commented on #162
@okonet Here are [Facebook's official recommendations regarding og:image](https://developers.facebook.com/docs/sharing/best-practices#images).

The link in my comment above explains how to satisfy Facebook's recommendations as well as have decent square images for reddit shares, etc.

[2016-02-12 17:44] ai commented on #162
So we need `1200 x 630`

[2016-02-12 17:45] ai commented on #162
So, if we take 1200 × 1200 it will be cutted in facebook to 1200 × 630?

[2016-02-12 17:57] okonet commented on #162
`-rw-r--r--  1 okonet  staff   271K 12 Feb 18:55 opengraph@2x.jpg`

Are we sure we want 2× resolution?

[2016-02-12 18:00] okonet commented on #162
I can reduce the quality of JPG to 40% (since it's a 2x image anyway). In this case it will be ~140KB — still a lot IMO.

[2016-02-12 18:12] MoOx commented on #166
No problemo. It's fine.

Here is the usage https://github.com/MoOx/statinamic/blob/813aafc3b32608a7281270610905f4000e95f133/docs/web_modules/LayoutContainer/index.js#L29

[2016-02-12 18:43] ai commented on #162
`1200 × 1200` is already for HiDPI screens

[2016-02-12 21:58] #138 closed

[2016-02-12 21:59] marcustisater opened #174 "Convert absolute font-sizes to relative"
Everything seems to be added with pixels, we should consider doing it in rems.

[2016-02-12 22:00] mxstbr commented on #174
:+1: Sounds like a good idea.

[2016-02-12 22:14] #166 closed

[2016-02-13 05:44] halvves commented on #162
@marcustisater, @okonet  - it seems both myself and the article that I had referenced were wrong in stating that Facebook would crop from both the top and the bottom. we may just want to stick to Facebook's suggested size. My apologies.

![og-crop-ex](https://cloud.githubusercontent.com/assets/9411730/13026117/68fd38fc-d1e2-11e5-896b-def294e64835.png)

[2016-02-13 05:51] halvves commented on #162
Also. It appears that Facebook might be having trouble reading the current og:image meta tag.

Quoted from the from the [Facebook linter](https://developers.facebook.com/tools/debug/og/object/?q=http%3A%2F%2Fpostcss.org):

"og:image could not be downloaded or is too small

og:image was not defined, could not be downloaded or was not big enough. Please define a chosen image using the og:image metat

[2016-02-13 06:09] thangngoc89 commented on #167
You can easily replace default md-collection-loader of statinamic.

[2016-02-13 06:53] thangngoc89 commented on #89
This should be related https://github.com/MoOx/statinamic/issues/130

[2016-02-13 20:39] #94 closed

[2016-02-15 15:12] halvves opened #175 "Change og:image size."
It seems that myself and the article I reference were incorrect in how Facebook handled og:image cropping. See my final comments on the now closed #162.

[2016-02-15 15:15] okonet commented on #175
I've re-opened #162. Can you please comment on it and post the proper sizes? I'll close this one.

[2016-02-15 15:15] #175 closed

[2016-02-15 15:18] halvves commented on #162
@okonet  1200 x 630 is Facebook's official recommendation that we should have listened to. My silly idea was wrong. Also we may want a file name that doesn't have '@' or other similar chars in it. The scraper seems to be having trouble fetching the image due to strange chars/html  escapes.

[2016-02-15 17:45] okonet opened #177 "Protect master branch"
I've accidentally pushed to master. Although it was my fault, I think we should not allow that and enforce PRs by protecting the master branch: https://help.github.com/articles/configuring-protected-branches/

[2016-02-15 17:55] mxstbr commented on #177
It is protected, but admins can still push, so we don't have to go through a PR with LGTM for a simple typo fix etc.

[2016-02-15 17:55] #177 closed

[2016-02-15 18:10] okonet commented on #177
Makes sense

Sincerely yours

Andrey Okonetchnikov

@okonetchnikov
http://okonet.ru

On 15. Februar 2016 at 18:55:04, max stoiber (notifications@github.com)
wrote:

[2016-02-15 19:02] marcustisater commented on #177
Yeah that's correct, you have write access. We trust you :wink:

[2016-02-15 19:35] marcustisater commented on #177
I f**** up some merge conflicts so I'm going to rollback to a4112ea

@okonet is it cool if you redo the pull request again?

[2016-02-15 19:52] marcustisater commented on #177
nvm, let me fix this. It's my mess. It should be resolved any minute

[2016-02-15 20:13] marcustisater opened #178 "npm conflicts"
Since commit:[a4112ea](https://github.com/postcss/postcss.org/commit/a4112eac65a550b14034b7d4d656ed194d023e74) there seems to be troubles/conflicts with the npm packages. Try reinstall modules `package.json` to troubleshoot the errors.

@MoOx / @thangngoc89

[2016-02-15 20:48] MoOx commented on #178
I am taking a look.

[2016-02-15 20:59] marcustisater commented on #178
It's wired.

This [commit](https://github.com/thangngoc89/postcss.org/commit/2b7554226a17fd84511652694be085f1c1ea2cdb) passed and got merged into master.

[2016-02-15 21:12] MoOx commented on #178
It seems it has nothing to do with npm itself.

https://github.com/postcss/postcss.org/tree/master/web_modules/App this image should be here https://github.com/postcss/postcss.org/tree/master/web_modules/LayoutContainer

btw, on hard drive non case sensitive, we got issue because of the web_modules/app || App

[2016-02-15 21:54] marcustisater commented on #178
Nice catch, I resolved [that](https://github.com/postcss/postcss.org/commit/92fd1b745820a22873b8b9cd4293696f3484e586)

It says that Statinamic required babel-plugin-webpack-loaders `0.3.2`, we have `0.2.2`.

Does this ring a bell?

[code]

[2016-02-15 21:55] MoOx commented on #178
You can upgrade safely to 0.3.2.

[2016-02-15 21:56] marcustisater commented on #178
Ok great, I will do that right away but that did not resolve my following error when running `npm start` locally. Is everything working for you?

[code]

[2016-02-16 01:26] thangngoc89 commented on #178
What's wrong with

[code]

Could you provide full stack-trace

[2016-02-16 04:40] MoOx commented on #178
You can found it on travis ci.
Anyway, it seems that master is ok?
npm start works like a charm for me.

[2016-02-16 04:45] thangngoc89 commented on #178
Totally forgot that npm 2 will throw error about unmet peerDeps.

[2016-02-16 06:10] marcustisater commented on #178
Yeah, master is fine [now](https://github.com/postcss/postcss.org/pull/181) probably unmet peerDeps as @thangngoc89 says.

Sorry, here is the error logg;

[code]

[2016-02-16 06:10] #178 closed

[2016-02-18 07:00] marcustisater opened #183 "Milestones"
I need to reorganize the issues into more relevant milestones, make small releases and maybe turn off autodeploy once 1.0 is out?

Look at pros/cons.

[2016-02-18 07:19] marcustisater commented on #178
Hmm, still troubleshooting. I ran

[code]

[2016-02-18 07:22] MoOx commented on #178
You got the same issue?

[2016-02-18 07:24] thangngoc89 commented on #178
I can't reproduce at all

[2016-02-18 07:25] marcustisater commented on #178
Yeah, I was trying to scout for some people to reinstall the modules too and hope they catch the same error as well but something is probably wrong here locally. I will try reinstall npm and node.

[code]

[2016-02-18 07:27] thangngoc89 commented on #178
@marcustisater that's your problem :(

node 0.12.7 doesn't have a endsWith method

[2016-02-18 07:27] marcustisater commented on #178
so update node? :smile:

[2016-02-18 07:28] thangngoc89 commented on #178
Yup. 5.6.0 is the latest (you can use nvm to have multiple node version )

[2016-02-18 07:29] marcustisater commented on #178
oh haha, I've been outdated for a while.

[2016-02-18 07:49] marcustisater commented on #178
ok everything is working but it's a bit slow on v5.6.0

Thanks for the help. back to work :)

[2016-02-18 07:53] MoOx commented on #178
Only npm install should be slower (but smarter). Is this the case?

[2016-02-18 08:20] marcustisater commented on #178
No, it takes a while to fire up statinamtic.

[2016-02-18 08:22] MoOx commented on #178
For me it tooks around 10sec.

[2016-02-18 08:28] marcustisater commented on #178
The first build took a minute to load, now it only takes 10-15 seconds. Solved :wink:

[2016-02-18 08:32] MoOx commented on #178
Ok, it's due to babel cache :)

[2016-02-19 19:56] ben-eb commented on #58
**Q:** *Why doesn't PostCSS support single line comments?*
**A:** Single line comments are not a language feature of CSS, so PostCSS does not parse them by default. Instead, load [postcss-scss](https://github.com/postcss/postcss-scss) as a custom parser to enable this support.

[2016-02-20 09:12] #160 closed

[2016-02-20 09:13] marcustisater commented on #162
resolved from #176

[2016-02-20 09:13] #162 closed

[2016-02-20 09:25] marcustisater commented on #58
Thanks Ben,

We will have to talk over the strategy of documentation pages for the website, maybe we can sync the [PostCSS repo](https://github.com/postcss/postcss/tree/master/docs) .md directly to the website.

[2016-02-20 12:03] Grawl commented on #58
It's must be a heading “How to summon the devil” with the right link to a user guide on it.

[2016-02-22 07:49] okonet opened #185 "Mobile version has incorrect viewport on iOS"
I can confirm this is also happening on my iPhone 6. https://twitter.com/AdictoVirtual/status/701603552670720000

[2016-02-22 07:51] okonet commented on #185
Looks like it is happening when the additional fonts are downloaded.

[2016-02-23 00:59] giuseppeg commented on #46
*"A tool for transforming CSS with JavaScript"* is almost perfect in my opinion.

It is just missing one important piece that is *"plugins"*
which communicates the most important concept behind PostCSS: modularity.

With such a small addition we have all we need to explain what PostCSS is in one line:

![g1456189085113493981](https://cloud.githubusercontent.com/assets/711311/13238119/a12ef5da-d985

[2016-02-23 15:01] marcustisater commented on #185
Hmm that's interesting. We definitely have to look into this.

[2016-02-23 18:48] ai commented on #161
Maybe we should put any favicon right now and change it to good version later? Missed favicon is not cool for modern sites :).

[2016-02-24 13:15] MoOx commented on #156
[Statinamic 0.8 can now handle that.](https://github.com/MoOx/statinamic/blob/master/CHANGELOG.md#080---2016-02-24). There is an example for the upgrade and if you check the boilerplate (or docs) you will find a 404.md example and a PageError component that should help.

[2016-02-24 20:04] halvves commented on #156
Brilliant work. I've been lurking the progress of the v0.8 release. I'll go ahead an implement this this evening (Central Standard Time).

[2016-02-26 11:44] maxshearer commented on #174
I could have a go at this at some point soon.

It's probably worth discussing what the benefits of using rems over pixels in this case are though. As far as I can work out (correct me if I'm wrong) there's currently no media queries in any `html` rule so using rems would make little difference at the moment.

Is the plan to do implement them now, adding some sort of responsive typography at a late

[2016-02-26 11:57] marcustisater commented on #174
Yeah, that's the plan but it's some what of a bigger refactoring. I think we had this discussion before but can't remember the issue number.

The benefits of using `rems/ems` is that it's relative and can change the entire typography font-size "flow" and adjust it one place depending on a media query. Today we are using `rem` for layout but `pixels` for font-sizes.

Give it a go, let me know if yo

[2016-02-26 12:17] maxshearer commented on #174
Should be pretty straightforward. Famous last words. If I get time I'll try and do it this evening.

[2016-02-26 12:18] marcustisater commented on #174
hehe, that's ambitious. Good luck... :smiley:

I will be available tonight if you have any questions.

[2016-02-27 20:34] #174 closed

[2016-02-29 20:58] ai commented on #161
Any updates? Should we put just a automatically converted favicon?

[2016-02-29 21:02] stephenway commented on #161
I'm overloaded right now, maybe just proceed with something scaled for now.

[2016-03-01 11:13] marcustisater commented on #161
I'll make room for it - I will just use the logo for now.

Should I generate one from http://realfavicongenerator.net/ or is 16x16 good enough for now?

[2016-03-01 11:16] marcustisater commented on #163
Is the horizontal scroll still there? I think it got resolved from an earlier issue otherwise I'll looking into it.

[2016-03-01 11:16] #163 closed

[2016-03-01 11:16] ai commented on #161
We need only 16x16, 32x32 and 192x192.

Abd we can miss 16x16 if we just downscale it from 32x32.

[2016-03-01 11:17] marcustisater commented on #161
Ok, thanks.

[2016-03-04 23:40] #185 closed

[2016-03-04 23:41] #12 closed

[2016-03-05 00:26] marcustisater commented on #170
Sorry for delay, #188 will resolve this issue.

[2016-03-05 00:29] marcustisater opened #189 "Favicon"
Favicon, ref https://github.com/postcss/brand/issues/8

[2016-03-05 00:30] #3 closed

[2016-03-05 00:30] #26 closed

[2016-03-05 01:00] #113 closed

[2016-03-05 01:00] marcustisater commented on #189
duplicated #161

[2016-03-05 01:00] #189 closed

[2016-03-05 01:01] marcustisater commented on #133
marked as closed - you can still apply for an invitation here.

[2016-03-05 01:01] #133 closed

[2016-03-05 01:02] marcustisater commented on #183
Make another issue and ask everyone for opinions.

[2016-03-05 01:02] #183 closed

[2016-03-05 01:03] #97 closed

[2016-03-05 01:05] marcustisater commented on #89
I will close this issue because most of this is already adressed or completed.

Break this down into smaller issues if anything is missing.

[2016-03-05 01:05] #89 closed

[2016-03-05 01:14] #170 closed

[2016-03-05 01:20] marcustisater commented on #17
Hey @mxstbr - I think we need to talk a few things over before officially hacking away on this issue and [milestone](https://github.com/postcss/postcss.org/milestones/1.1) together, I have few ideas that I would like to talk over and some reorganizing to do.

We also deserve a small break from this project :sweat_smile:

[2016-03-05 01:22] marcustisater opened #190 "Update Statinamic 0.8.2"
https://github.com/MoOx/statinamic

[2016-03-05 01:38] thangngoc89 commented on #167
Next version of statinamic will use remark by default so you can use https://github.com/ben-eb/remark-midas

https://github.com/MoOx/statinamic/blob/next/CHANGELOG.md

I'll send a PR after 0.9.0 landed

[2016-03-05 09:36] jeddy3 commented on #113
(Done in https://github.com/postcss/postcss.org/pull/148)

[2016-03-05 11:52] marcustisater opened #191 "Thank you all"
Hello everyone,

[Milestone 1.0](https://github.com/postcss/postcss.org/milestones/1.0) has come to an end :tada:  I would like to take the time to really thank ya’ll for the time you have put into the making of postcss.org first release. It’s incredible to see so many people being passionate about open source and contributing time and effort into this.

With that being said - I’m looking forward

[2016-03-05 22:28] ai commented on #191
@marcustisater thanks you too. It was really awesome example of good open source management. You are Oppenheimer of postcss.org :).

[2016-03-06 01:47] thangngoc89 commented on #190
Update 0.7.0 to 0.8.0: https://github.com/thangngoc89/blog/commit/33b95be45da5b3265fc09cc4c7f523ca3d533e05

[2016-03-06 17:42] marcustisater commented on #191
haha, thank you! :joy:

I'm really looking forward for the future and making room to get the next few release going.

[2016-03-06 17:42] #191 closed

[2016-03-06 18:18] MoOx commented on #191
Nice post! Thanks for sharing this experience 👌

[2016-03-06 18:52] jeddy3 commented on #191
Excellent blog post! Well done :)

A couple of minor suggestions:

1. Typo in "Linting with Stylint & ESLint" -> "stylint" is a stylus linter. I think you meant "stylelint".
2. Perhaps there's an opportunity to mention that both CSS Modules and stylelint are powered by PostCSS (for parity with the website itself) e.g. "For our styles, we chose Stylelint and configured stylint-config-standard." bec

[2016-03-06 20:16] marcustisater commented on #191
Thanks :smile:

Whoops, nice catch @jeddy3. I will definitely fix that typo and embrace that CSS Modules and Stylelint is powered by PostCSS. Thanks for the feedback.

[2016-03-11 20:57] marcustisater commented on #161
I added some initial ones just for now #193

[2016-03-11 20:59] marcustisater commented on #156
@halvves are you still up for creating the 404 page? Keep in mind that there is no pressure or deadline :smile:

Take you're time.

[2016-03-11 21:33] marcustisater commented on #119
@okonet - Would you like to give this a try **when** you have some time leftover? It can be very simple and you don't need to look through the details.

Everyone is welcome to leave submissions, going to try promoting this one as well.

[2016-03-11 21:39] marcustisater commented on #190
@thangngoc89 - do you think it's a good idea to [wait](https://github.com/postcss/postcss.org/issues/167) for 9.0, how far are you guys from that or is version 8.0 cricual?

[2016-03-11 21:42] marcustisater commented on #167
Let's wait for Statinamic 9.0 to release before we replace highlight with Midas.

[2016-03-11 21:47] marcustisater commented on #120
Let's wait for the basic page #119 to be closed.

[2016-03-11 21:48] marcustisater commented on #46
Thanks for suggestion,

We should bring this topic up for some hot discussion again soon.

[2016-03-11 21:51] marcustisater commented on #20
Any progress @fkling?

[2016-03-11 22:54] halvves commented on #156
@marcustisater - definitely up to. things picked up with the day job and some after hours projects for a while, but hopefully i'll find some time for it soon!

[2016-03-12 03:47] thangngoc89 commented on #190
0.9 will be release soon. I think you guys should wait for it.

[2016-03-12 13:46] marcustisater commented on #71
PostCSS 5.1 will be released next week. There is going to be a move with the [API.md](https://github.com/postcss/postcss/blob/master/docs/api.md) to JSDoc comments.

There for links to `docs/api.md` will then return 404. We need to generate the API page for postcss.org by JSDoc.

[2016-03-12 13:47] marcustisater commented on #71
I will see if I can get an basic page layout with minimal styling until Monday.

[2016-03-12 13:48] marcustisater commented on #71
Related to https://github.com/postcss/postcss/issues/480

[2016-03-12 17:43] thangngoc89 commented on #190
@marcustisater forgot to mention, 0.8.2 has appcache support out-of-box. Should be great a document website like postcss

[2016-03-13 09:02] #161 closed

[2016-03-13 14:54] marcustisater commented on #156
That's great to hear, I just wanted to check-in for status report. If work gets too overwhelming for you, just give me a heads up and I will leave this up for grabs.

[2016-03-13 15:57] okonet commented on #119
Yes, I could try give it a shot. Been quite busy arm tho. Let's see if I get some time for it.

[2016-03-13 18:21] marcustisater commented on #71
Sync from gitter

[2016-03-13 18:58] marcustisater commented on #190
Updated to 0.8.0, I will wait for 0.9.0 release.

[2016-03-13 18:58] #190 closed

[2016-03-13 18:59] marcustisater commented on #156
[From](https://github.com/postcss/postcss.org/issues/156#issuecomment-188251200) #190 we added the ErrorPage component but it still need some love. I will leave the rest up for you @halvves :smile:

[2016-03-13 19:32] marcustisater commented on #119
Yeah, there is defiantly no rush here, whenever you find time man :+1:

[2016-03-14 05:04] thangngoc89 commented on #71
I implemented the sidebar thing [in my blog](https://github.com/thangngoc89/blog/blob/6b1be9f55464d532f3aa63da4f2f1c7a2454e2d1/web_modules/layouts/Post/Post.js#L185-L191). It also has a spy scroll and url's hash will be synced with the spy scroll.

See it in action [here](https://khoanguyen.me/react-component-voi-react-create-class/)

But there is a bug that I don't know how to fix it :( https://g

[2016-03-14 05:35] ai commented on #71
@thangngoc89 yeap, good example. But also we need a quick search in method.

[2016-03-14 05:40] thangngoc89 commented on #71
Should be easy to implement search function. Beware of the [bug from statinamic](https://github.com/MoOx/statinamic/issues/283).

[2016-03-14 08:23] marcustisater commented on #71
Thanks for the update.

@thangngoc89: [That](https://khoanguyen.me/react-component-voi-react-create-class/) looks great and exactly what I had in mind. If you have time, PR is very much welcome for implementing the sidebar with spy scroll. I think we can keep it in the page component **for now**.

To sync gitter conversation between me and @ai I was a bit confused regarding the generated API page.

[2016-03-14 09:44] thangngoc89 commented on #71
@marcustisater I'm not familar with JSDoc. Are you planning on using JSDoc or others tool that can understand JSDoc syntax ? JSDoc have a [markdown plugin](http://usejsdoc.org/plugins-markdown.html).

btw, statinamic 0.9.0 will be decoupled from markdown engine. We called it the render engine now. It is a function that take a string and return HTML string. So you can use whatever render engine you

[2016-03-15 09:40] okonet opened #199 "SEO optimized PostCSS home page content"
For some reason I'm seeing an Autoprefixer description here.

<img width="521" alt="2016-03-15 at 10 23" src="https://cloud.githubusercontent.com/assets/11071/13773137/1848b30e-ea98-11e5-8c6d-810e7bdf53cb.png">

This also applies to search results: https://duckduckgo.com/?q=postcss&ia=about

It seems to happen since it's the first meaningful content on the page. I think we should add a bit longer

[2016-03-15 10:58] maxshearer commented on #199
Missing both `<meta name="description" content="...">` and `<meta property="og:description" content="...">` which should do the trick.

And on that note, if we're doing that we might as well add the [Twitter OG](https://dev.twitter.com/cards/markup) tags in too.

[2016-03-15 11:35] marcustisater commented on #199
`{ property: "og:description", content: head.description }` should do the trick. I can submit PR.

[2016-03-18 20:32] awayken commented on #199
Is anyone working on this? I decided to give it a look, since it looked like an easy enough PR to submit. The `content/index.md` file is missing copy for a description field, so I took a shot at writing something for it:

Thoughts? It's short to adhere to the 160 character rule for meta descriptions, but it still references most of the homepage copy.